<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Manage Gateways [SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" type="text/css" href="../css/site.css" />
    <link rel="stylesheet" type="text/css" href="../yui/button/assets/skins/sam/button.css">
    <link rel="stylesheet" type="text/css" href="../yui/menu/assets/skins/sam/menu.css">
    <link rel="stylesheet" type="text/css" href="../css/yui-skin.css">
    <script type="text/javascript" src="../yui/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="../yui/container/container_core-min.js"></script>
    <script type="text/javascript" src="../yui/element/element-beta-min.js"></script>
    <script type="text/javascript" src="../yui/button/button-min.js"></script>
    <script type="text/javascript" src="../yui/menu/menu-min.js"></script>
    <script type="text/javascript" src="../js/site.js"></script>
    <script type="text/javascript" src="../js/enterpriseTable.js"></script>
    <script type="text/javascript" src="../js/treeTable.js"></script>
    <script type="text/javascript">
        var numDashboardsPerRow = null;
        var collapsedDashboardIds = new Array();

        function onDashboardTippyChanged(tippy, partitionId) {
            if (getFileName(tippy.src) == EXPANDED_TIPPY_IMG_NAME) {
                removeArrayElement(collapsedDashboardIds, partitionId);
            } else {
                if (!arrayContains(collapsedDashboardIds, partitionId)) {
                    collapsedDashboardIds.push(partitionId);
                }
            }
        }

        function showDashboards() {
            // Clears the tiling table first.
            var table = document.getElementById('dashboardsTable');
            while (table.rows.length > 0) {
                table.deleteRow(0);
            }

            var numDashboard = 0;
            var row = null;
            var checkboxes = getElementsByClassName('dashboardCheckbox');
            for (var k = 0; k < checkboxes.length; ++k) {
                var checkbox = checkboxes[k];
                var partitionId = checkbox.parentNode.parentNode.id;
                if (checkbox.checked) {
                    if (numDashboard % numDashboardsPerRow == 0) {
                        row = table.insertRow(table.rows.length);
                    }
                    var cell = row.insertCell(row.cells.length);
                    var tippyId = 'dashboard-tippy-' + partitionId;
                    var dashboardId = 'dashboard-' + partitionId;
                    cell.innerHTML = '<div class="dashboardPanel">'
                                   + '    <div class="panelTitle">'
                                   + '        <img id="' + tippyId + '" class="tippy dashboardTippy" src="../images/tippyExpanded.png" alt="" onclick="toggleTippy(this, \'' + dashboardId + '\'); onDashboardTippyChanged(this, \'' + partitionId + '\')" /><span class="clickable" onclick="toggleTippy(\'' + tippyId + '\', \'' + dashboardId + '\')">' + escapeAsText(checkbox.value) + '</span>'
                                   + '    </div>'
                                   + '    <div class="dashboardPanelContent" id="' + dashboardId + '">'
                                   + '        <img src="../images/FAKE_DASHBOARD_' + (numDashboard % 2) + '.png" alt="" />'
                                   + '    </div>'
                                   + '</div>';
                    if (arrayContains(collapsedDashboardIds, partitionId)) {
                        document.getElementById(tippyId).onclick();
                    }
                    ++numDashboard;
                } else {
                    removeArrayElement(collapsedDashboardIds, partitionId);
                }
            }

            document.getElementById('numDashboards').innerHTML = numDashboard;
        }

        function setNumDashboardsPerRow(n) {
            if (numDashboardsPerRow != n) {
                numDashboardsPerRow = n;
                for (var i = 1; i <= 4; ++i) {
                    var img = document.getElementById('columns' + i);
                    if (i == n) {
                        removeClass(img, 'unselected');
                    } else {
                        addClass(img, 'unselected');
                    }
                }
                showDashboards();
            }
        }

        function init() {
            var addGroupButton = new YAHOO.widget.Button('addGroupButton');
            var addPartitionButton = new YAHOO.widget.Button('addPartitionButton');
            var addClusterNodeButton = new YAHOO.widget.Button('addClusterNodeButton');
            var moveButton = new YAHOO.widget.Button('moveButton');
            var deleteButton = new YAHOO.widget.Button('deleteButton');
            var destroyButton = new YAHOO.widget.Button('destroyButton');
            var ssmButton = new YAHOO.widget.Button('ssmButton');
            // TODO assign URLs

            l7_treeTable_init();
            l7_enterpriseTable_init('../images');
            var enterpriseTable = document.getElementById('enterpriseTreeTable').l7_enterpriseTable;
            enterpriseTable.onRowSelectionChange = function(oldRow, newRow) {
                addGroupButton.set('disabled', true);
                addPartitionButton.set('disabled', true);
                addClusterNodeButton.set('disabled', true);
                moveButton.set('disabled', true);
                deleteButton.set('disabled', true);
                destroyButton.set('disabled', true);
                ssmButton.set('disabled', true);
                if (newRow != null) {
                    if (hasClass(newRow, 'enterpriseGroup')) {
                        addGroupButton.set('disabled', false);
                        addPartitionButton.set('disabled', false);
                        moveButton.set('disabled', false);
                        deleteButton.set('disabled', hasClass(newRow, 'l7_enterpriseTable_cannotDelete'));
                    } else if (hasClass(newRow, 'enterprisePartition')) {
                        addClusterNodeButton.set('disabled', false);
                        moveButton.set('disabled', false);
                        deleteButton.set('disabled', false);
                        ssmButton.set('disabled', false);
                    } else if (hasClass(newRow, 'enterpriseClusterNode')) {
                        destroyButton.set('disabled', false);
                    } else if (hasClass(newRow, 'enterpriseFolder')) {
                        addGroupButton.set('disabled', false);
                        moveButton.set('disabled', false);
                        deleteButton.set('disabled', false);
                    }
                }
            }
            enterpriseTable.onRowSelectionChange(null, enterpriseTable.getSelectedRow());

            setNumDashboardsPerRow(1);
        }
    </script>
</head>
<body class="yui-skin-sam" onload="init();">
<table width="100%">
    <tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt="" /></td>
                        <td class="logo"><a href="Gateways.html"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc." /><img src="../images/emLogo.png" alt="" /></a></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt="" /></td>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="middle nowrap">Logged in as "admin"<br />since May 5, 2008 05:57:54 PM</td>
                        <td class="middle"><form method="get" action="Login.html"><input type="submit" value="Log Out" /></form></td>
                        <td class="middle help"><a href="Help.html" target="_blank" title="Open help page in a new window">Help</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
            <div>
                <table>
                    <tr>
                        <td id="tabLTGateways"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTGateways" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTGateways"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTPolicies"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTPolicies" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTPolicies"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTReports"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTReports" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTReports"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTBackup"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTBackup" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTBackup"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTTools"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTTools" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTTools"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTSettings"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTSettings" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTSettings"><img src="../images/tabRT.png" alt="" /></td>
                        <td><img src="../images/tabLT.png" alt="" /></td>
                        <td class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRT.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLMGateways" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMGateways" class="tabCMon">Manage Gateways</td>
                        <td id="tabRMGateways" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMPolicies" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMPolicies" class="tabCM"><a href="PolicyMigration.html">Manage Policies</a></td>
                        <td id="tabRMPolicies" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMReports" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMReports" class="tabCM"><a href="StandardReports.html">Reports</a></td>
                        <td id="tabRMReports" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMBackup" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMBackup" class="tabCM"><a href="Backup.html">Backup &amp; Restore</a></td>
                        <td id="tabRMBackup" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMTools" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMTools" class="tabCM"><a href="Notifications.html">Tools</a></td>
                        <td id="tabRMTools" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMSettings" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMSettings" class="tabCM"><a href="UserSettings.html">Settings</a></td>
                        <td id="tabRMSettings" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabCM" width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLBGateways"><img src="../images/tabLBon.png" alt="" /></td>
                        <td id="tabCBGateways" class="tabCBon"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBGateways"><img src="../images/tabRBon.png" alt="" /></td>
                        <td id="tabLBPolicies"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBPolicies" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBPolicies"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBReports"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBReports" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBReports"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBBackup"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBBackup" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBBackup"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBTools"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBTools" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBTools"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBSettings"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBSettings" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBSettings"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td><img src="../images/tabLBoff.png" alt="" /></td>
                        <td class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRBoff.png" alt="" /></td>
                    </tr>
                </table>
            </div>
            <script language="JavaScript" type="text/javascript">
                initTab('Policies');
                initTab('Reports');
                initTab('Backup');
                initTab('Tools');
                initTab('Settings');
            </script>
            <div class="tabBarBottom"><img src="../images/spacer.png" alt="" /><!-- no subtab --></div>
            <div class="content">
                <div class="panel">
                    <div class="panelTitle tippy"><img id="enterpriseTreeTippy" class="tippy" src="../images/tippyExpanded.png" alt="" onclick="toggleTippy(this, 'enterpriseTree')" /><span class="clickable" onclick="toggleTippy('enterpriseTreeTippy', 'enterpriseTree')">Enterprise Tree</span></div>
                    <div id="enterpriseTree">
                        <div class="panelToolbar">
                            <button id="addGroupButton" type="submit" name="addGroupButton" value="addGroup"><img src="../images/addGroup.png" alt="" /> New group</button>
                            <button id="addPartitionButton" type="submit" name="addPartitionButton" value="addPartition"><img src="../images/addPartition.png" alt="" /> Add Partition</button>
                            <button id="addClusterNodeButton" type="submit" name="addClusterNodeButton" value="addClusterNode"><img src="../images/addClusterNode.png" alt="" /> Create Cluster Node</button>
                            <button id="moveButton" type="submit" name="moveButton" value="move"><img src="../images/move.png" alt="" /> Move</button>
                            <button id="deleteButton" type="submit" name="deleteButton" value="delete"><img src="../images/delete.png" alt="" /> Delete</button>
                            <button id="destroyButton" type="submit" name="destroyButton" value="destroy"><img src="../images/destroy.png" alt="" /> Destroy</button>
                            <button id="ssmButton" type="submit" name="ssmButton" value="ssm"><img src="../images/ssm.png" alt="" /> Launch SSM</button>
                        </div>
                        <div class="panelContent">
                            <table id="enterpriseTreeTable" class="dataTable l7_treeTable l7_enterpriseTable l7_enterpriseTable_rowSelectable" width="100%">
                                <thead>
                                    <tr>
                                        <th class="name">Name<br /><img src="../images/spacer.png" alt="" height="0" width="140" /><!-- minimum width --></th>
                                        <th><img src="../images/status.png" title="Status" alt="" /></th>
                                        <th><img src="../images/accessAccount.png" title="Access Account" alt="" /></th>
                                        <th><img src="../images/dashboard.png" title="Dashboard" alt="" /></th>
                                        <th>Type</th>
                                        <th width="100%">Details</th>
                                        <th class="parentId"><!-- hidden column --></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="3d7fa710-334c-11dd-bd11-0800200c9a66" class="enterpriseGroup l7_enterpriseTable_cannotDelete">
                                        <td class="name"><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/group.png" alt="" />Springfield Nuclear Power Plant </td>
                                        <td></td>
                                        <td></td>
                                        <td class="dashboard"></td>
                                        <td>group</td>
                                        <td class="details"></td>
                                        <td class="parentId">-1</td>
                                    </tr>
                                    <tr id="40f62d36-4146-4f4b-bdd6-14489526b1a6" class="enterpriseGroup">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/group.png" alt="" />Electricity</td>
                                        <td></td>
                                        <td></td>
                                        <td class="dashboard"></td>
                                        <td>group</td>
                                        <td class="details"></td>
                                        <td class="parentId">3d7fa710-334c-11dd-bd11-0800200c9a66</td>
                                    </tr>
                                    <tr id="d15ce378-df33-44f3-a632-89458f421c24" class="enterprisePartition">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/partition.png" alt="" />Dev</td>
                                        <td></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td class="dashboard"><input class="dashboardCheckbox" type="checkbox" value="Springfield Nuclear Power Plant / Electricity / Dev" title="Show/Hide dashboard for this partition" onclick="showDashboards();" /></td>
                                        <td>partition</td>
                                        <td class="details"><span class="hasTooltip" title="host name and port number">dev.electricity.springfield.com:8443</span></td>
                                        <td class="parentId">40f62d36-4146-4f4b-bdd6-14489526b1a6</td>
                                    </tr>
                                    <tr id="67f0a6f8-12c5-48af-b1fb-0058d8b1ca64" class="enterpriseClusterNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/clusterNode.png" alt="" />SSG1</td>
                                        <td><img src="../images/up.png" title="Up" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td class="dashboard"></td>
                                        <td>cluster node</td>
                                        <td class="details"><span class="hasTooltip" title="IP address and port number">192.168.1.1:8443</span> (<span class="hasTooltip" title="self host name">host-1</span>)</td>
                                        <td class="parentId">d15ce378-df33-44f3-a632-89458f421c24</td>
                                    </tr>
                                    <tr id="899afe70-2490-471f-997b-a52815322b27" class="enterpriseClusterNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/clusterNode.png" alt="" />SSG2</td>
                                        <td><img src="../images/offline.png" title="Offline" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td class="dashboard"></td>
                                        <td>cluster node</td>
                                        <td class="details"><span class="hasTooltip" title="IP address and port number">192.168.1.2:8443</span> (<span class="hasTooltip" title="self host name">host-2</span>)</td>
                                        <td class="parentId">d15ce378-df33-44f3-a632-89458f421c24</td>
                                    </tr>
                                    <tr id="e0a71bdd-317c-498c-8b00-9815af2594f0" class="enterpriseClusterNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/clusterNode.png" alt="" />SSG3</td>
                                        <td><img src="../images/down.png" title="Down" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td class="dashboard"></td>
                                        <td>cluster node</td>
                                        <td class="details"><span class="hasTooltip" title="IP address and port number">192.168.1.3:8443</span> (<span class="hasTooltip" title="self host name">host-3</span>)</td>
                                        <td class="parentId">d15ce378-df33-44f3-a632-89458f421c24</td>
                                    </tr>
                                    <tr id="c32bb1a9-1538-4792-baa1-566bfd418020" class="enterprisePartition">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/partition.png" alt="" />Production</td>
                                        <td></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td class="dashboard"><input class="dashboardCheckbox" type="checkbox" value="Springfield Nuclear Power Plant / Electricity / Production" title="Show/Hide dashboard for this partition" onclick="showDashboards();" /></td>
                                        <td>partition</td>
                                        <td class="details"><span class="hasTooltip" title="host name and port number">production.electricity.springfield.com:8444</span></td>
                                        <td class="parentId">40f62d36-4146-4f4b-bdd6-14489526b1a6</td>
                                    </tr>
                                    <tr id="f90cf133-0e3b-4b04-b489-7afd5cbff609" class="enterpriseClusterNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/clusterNode.png" alt="" />SSG1</td>
                                        <td><img src="../images/off.png" title="Off" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td class="dashboard"></td>
                                        <td>cluster node</td>
                                        <td class="details"><span class="hasTooltip" title="IP address and port number">192.168.1.2:8444</span> (<span class="hasTooltip" title="self host name">host-2</span>)</td>
                                        <td class="parentId">c32bb1a9-1538-4792-baa1-566bfd418020</td>
                                    </tr>
                                    <tr id="29b2aaf3-bec3-4771-ab0e-8c40e9a2005c" class="enterpriseClusterNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/clusterNode.png" alt="" />SSG2</td>
                                        <td><img src="../images/up.png" title="Up" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td class="dashboard"></td>
                                        <td>cluster node</td>
                                        <td class="details"><span class="hasTooltip" title="IP address and port number">192.168.1.3:8444</span> (<span class="hasTooltip" title="self host name">host-3</span>)</td>
                                        <td class="parentId">c32bb1a9-1538-4792-baa1-566bfd418020</td>
                                    </tr>
                                    <tr id="b614e196-44ea-457b-b38d-567c3541fabd" class="enterpriseGroup">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/group.png" alt="" />Uranium</td>
                                        <td></td>
                                        <td></td>
                                        <td class="dashboard"></td>
                                        <td>group</td>
                                        <td class="details"></td>
                                        <td class="parentId">3d7fa710-334c-11dd-bd11-0800200c9a66</td>
                                    </tr>
                                    <tr id="1c9d5a50-6a58-48a5-b7d4-b0cb356820f2" class="enterprisePartition">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/partition.png" alt="" />Dev</td>
                                        <td></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td class="dashboard"><input class="dashboardCheckbox" type="checkbox" value="Springfield Nuclear Power Plant / Uranium / Dev" title="Show/Hide dashboard for this partition" onclick="showDashboards();" /></td>
                                        <td>partition</td>
                                        <td class="details"><span class="hasTooltip" title="host name and port number">uranium.springfield.com:8443</span></td>
                                        <td class="parentId">b614e196-44ea-457b-b38d-567c3541fabd</td>
                                    </tr>
                                    <tr id="81b5136c-e2a9-42f4-b96a-c6208edb4e58" class="enterpriseClusterNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/clusterNode.png" alt="" />SSG1</td>
                                        <td><img src="../images/up.png" title="Up" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td class="dashboard"></td>
                                        <td>cluster node</td>
                                        <td class="details"><span class="hasTooltip" title="IP address and port number">192.168.1.4:8443</span> (<span class="hasTooltip" title="self host name">host-4</span>)</td>
                                        <td class="parentId">1c9d5a50-6a58-48a5-b7d4-b0cb356820f2</td>
                                    </tr>
                                    <tr id="a14df4d4-0c62-4d8e-ac3a-82cd8a442a26" class="enterprisePartition">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/partition.png" alt="" />Production</td>
                                        <td></td>
                                        <td><img class="clickableImg" src="../images/noAccessAccount.png" title="Enter access account" alt="" /></td>
                                        <td class="dashboard"><input class="dashboardCheckbox" type="checkbox" value="Springfield Nuclear Power Plant / Uranium / Production" title="Show/Hide dashboard for this partition" onclick="showDashboards();" /></td>
                                        <td>partition</td>
                                        <td class="details"><span class="hasTooltip" title="host name and port number">uranium.springfield.com:8444</span></td>
                                        <td class="parentId">b614e196-44ea-457b-b38d-567c3541fabd</td>
                                    </tr>
                                    <tr id="f57307d1-9967-448b-874b-9da8e374a09b" class="enterpriseClusterNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/clusterNode.png" alt="" />SSG1</td>
                                        <td><img src="../images/up.png" title="Up" alt=""></td>
                                        <td><img class="clickableImg" src="../images/noAccessAccount.png" title="Enter access account" alt="" /></td>
                                        <td class="dashboard"></td>
                                        <td>cluster node</td>
                                        <td class="details"><span class="hasTooltip" title="IP address and port number">192.168.1.4:8444</span> (<span class="hasTooltip" title="self host name">host-4</span>)</td>
                                        <td class="parentId">a14df4d4-0c62-4d8e-ac3a-82cd8a442a26</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panelTitle tippy"><img id="dashboardsTippy" class="tippy" src="../images/tippyExpanded.png" alt="" onclick="toggleTippy(this, 'dashboards')" /><span class="clickable" onclick="toggleTippy('dashboardsTippy', 'dashboards')">Dashboards (monitoring <span id="numDashboards">3</span> partitions)</span></div>
                    <div id="dashboards">
                        <div class="panelToolbar">
                            <button id="expandAllButton" type="button">Expand All</button>
                            <button id="collapseAllButton" type="button">Collapse All</button>
                            &nbsp;&nbsp;&nbsp;
                            <span class="nowrap"><img id="columns1" class="clickable" src="../images/columns1.png" title="One column"  alt="" onclick="setNumDashboardsPerRow(1);" /><img id="columns2" class="clickable" src="../images/columns2.png" title="Two columns"  alt="" onclick="setNumDashboardsPerRow(2);" /><img id="columns3" class="clickable" src="../images/columns3.png" title="Three columns"  alt="" onclick="setNumDashboardsPerRow(3);" /><img id="columns4" class="clickable" src="../images/columns4.png" title="Four columns"  alt="" onclick="setNumDashboardsPerRow(4);" /></span>
                            <script type="text/javascript">
                                var expandAllButton = new YAHOO.widget.Button("expandAllButton");
                                expandAllButton.addListener("click", function(){expandTippies('dashboard-tippy-.+');});
                                var collapseAllButton = new YAHOO.widget.Button("collapseAllButton");
                                collapseAllButton.addListener("click", function(){collapseTippies('dashboard-tippy-.+');});
                            </script>
                        </div>
                        <div class="dashboardsPanelContent">
                            <table id="dashboardsTable">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statusBar">
                <table>
                    <tr>
                        <td width="100%">Time Zone: Canada/Pacific (GMT-08:00/<b>-07:00</b>)</td>
                        <td><a class="nowrap" href="http://www.layer7tech.com" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
        </td>
    </tr>
</table>
</body>
</html>
