<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Partition Selector [SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" href="../css/site.css" media="all" type="text/css" />
    <script type="text/javascript" src="../js/site.js"></script>
    <script type="text/javascript" src="../js/treeTable.js"></script>
    <script type="text/javascript">
        /**
         * Name of the IFRAME in the parent document that is used for showing partition content.
         * When the radio button of a partition in here is selected, that IFRAME will be
         * populated accordingly.
         * Parent document should set this onload.
         */
        var partitionContentIFrameName = null;

        /**
         * Specifies which type of document the partition content to show in partitionContentIFrameName,
         * either "partitionContentWithCheckbox" or "partitionContentWithFolderRadio".
         * Parent document should set this onload.
         */
        var partitionContentIFrameType = null;

        function init() {
            // Blanks out the partition content IFRAME because no partition has been selected on load.
            parent.document.getElementById(partitionContentIFrameName).src = '';
        }

        /**
         * Show a partition whose radio button has been clicked.
         *
         * @param radio     the radio button being clicked on
         */
        function showPartition(radio) {
            if (partitionContentIFrameName != null && partitionContentIFrameType != null) {
                var cell = radio.parentNode;
                var row = cell.parentNode;
                var partitionId = row.id;
                // PROTOTYPE ONLY BEGIN
                partitionId = 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.html';
                // PROTOTYPE ONLY END
                parent.document.getElementById(partitionContentIFrameName).src =  getParent(parent.document.URL) + partitionContentIFrameType + '/' + partitionId;
            }
        }
    </script>
</head>
<body class="dataIFrame" onload="l7_treeTable_init();">
<table id="partitionSelector" class="dataTree treeTable_table" width="100%">
    <tr id="3d7fa710-334c-11dd-bd11-0800200c9a66" class="enterpriseGroup">
        <td class="name"><img class="treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/group.png" alt="" />Springfield Nuclear Power Plant</td>
        <td class="type hidden">group</td>
        <td class="parentId">-1</td>
    </tr>
    <tr id="40f62d36-4146-4f4b-bdd6-14489526b1a6" class="enterpriseGroup">
        <td class="name"><img src="../images/spacer16.png" alt="" /><img class="treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/group.png" alt="" />Electricity</td>
        <td class="type hidden">group</td>
        <td class="parentId">3d7fa710-334c-11dd-bd11-0800200c9a66</td>
    </tr>
    <tr id="d15ce378-df33-44f3-a632-89458f421c24" class="enterprisePartition">
        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><input id="radio:d15ce378-df33-44f3-a632-89458f421c24" type="radio" name="partition" onclick="showPartition(this);" /><label for="radio:d15ce378-df33-44f3-a632-89458f421c24"><img src="../images/partition.png" alt="" />Dev</label></td>
        <td class="type hidden">partition</td>
        <td class="parentId">40f62d36-4146-4f4b-bdd6-14489526b1a6</td>
    </tr>
    <tr id="c32bb1a9-1538-4792-baa1-566bfd418020" class="enterprisePartition">
        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><input id="radio:c32bb1a9-1538-4792-baa1-566bfd418020" type="radio" name="partition" onclick="showPartition(this);" /><label for="radio:c32bb1a9-1538-4792-baa1-566bfd418020"><img src="../images/partition.png" alt="" />Production</label></td>
        <td class="type hidden">partition</td>
        <td class="parentId">40f62d36-4146-4f4b-bdd6-14489526b1a6</td>
    </tr>
    <tr id="b614e196-44ea-457b-b38d-567c3541fabd" class="enterpriseGroup">
        <td class="name"><img src="../images/spacer16.png" alt="" /><img class="treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/group.png" alt="" />Uranium</td>
        <td class="type hidden">group</td>
        <td class="parentId">3d7fa710-334c-11dd-bd11-0800200c9a66</td>
    </tr>
    <tr id="1c9d5a50-6a58-48a5-b7d4-b0cb356820f2" class="enterprisePartition">
        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><input id="radio:1c9d5a50-6a58-48a5-b7d4-b0cb356820f2" type="radio" name="partition" onclick="showPartition(this);" /><label for="radio:1c9d5a50-6a58-48a5-b7d4-b0cb356820f2"><img src="../images/partition.png" alt="" />Dev</label></td>
        <td class="type hidden">partition</td>
        <td class="parentId">b614e196-44ea-457b-b38d-567c3541fabd</td>
    </tr>
    <tr id="a14df4d4-0c62-4d8e-ac3a-82cd8a442a26" class="enterprisePartition">
        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><input id="radio:a14df4d4-0c62-4d8e-ac3a-82cd8a442a26" type="radio" name="partition" onclick="showPartition(this);" /><label for="radio:a14df4d4-0c62-4d8e-ac3a-82cd8a442a26"><img src="../images/partition.png" alt="" />Production</label></td>
        <td class="type hidden">partition</td>
        <td class="parentId">b614e196-44ea-457b-b38d-567c3541fabd</td>
    </tr>
</table>
</body>
</html>