<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Setup [SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" href="../css/site.css" media="all" type="text/css" />
    <script type="text/javascript" src="../js/site.js"></script>
</head>
<body>
<table width="100%">
    <tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt="" /></td>
                        <td class="logo"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc." /><img src="../images/emLogo.png" alt="" /></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt="" /></td>
                        <td class="right help" width="100%"><a href="Help.html" target="_blank" title="Open help page in a new window">Help</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
            <div class="titleBar">Set Up</div>
            <div class="content">
                <form method="get" action="Gateways.html">
                    <p>Welcome to SecureSpan&trade; Enterprise Manager.</p>
                    <p>Please complete the following setup information.</p>
                    <div class="panel">
                        <div class="panelTitle">License Information</div>
                        <div class="panelContent">
                            <table class="spaced">
                                <tr>
                                    <td>License File:</td>
                                    <td><input name="licenseFile" type="file" size="40" /></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panelTitle">Administrator Account</div>
                        <div class="panelContent">
                            <table class="spaced">
                                <tr>
                                    <td>User Name:</td>
                                    <td><input id="username" name="username" type="text" /></td>
                                </tr>
                                <tr>
                                    <td>Password:</td>
                                    <td><input id="password" name="password" type="password" /></td>
                                </tr>
                                <tr>
                                    <td>Confirm Password:</td>
                                    <td><input id="password2" name="password2" type="password" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <input type="submit" value="Apply" />
                </form>
            </div>
            <div class="statusBar">
                <table>
                    <tr>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td><a class="nowrap" href="http://www.layer7tech.com" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
        </td>
    </tr>
</table>
</body>
</html>
