<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>


    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <title>Test Web Service [SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" href="../images/site.css" media="all" type="text/css">
    <script type="text/javascript" src="../images/site.js"></script>
</head><body>
<table width="100%">
    <tbody><tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tbody><tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt=""></td>
                        <td class="logo"><a style="" href="http://www.layer7tech.com/" target="_blank"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc."></a>
                            <img src="../images/emLogo.png" alt=""></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt=""></td>
                        <td width="100%"><img src="../images/spacer.png" alt=""></td>
                        <td class="middle nowrap">Logged in as "admin"<br>since May 5, 2008 05:57:54 PM</td>
                        <td class="middle">
                            <form method="get" action="Login.html"><input value="Log Out" onmouseover="this.style.backgroundColor='#be9422';" onmouseout="this.style.backgroundColor='#433e29';" type="submit">
                            </form>
                        </td>
                        <td class="middle help"><a href="Help.html" target="_blank" title="Open help page in a new window">Help</a></td>
                    </tr>
                </tbody></table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt=""></div>
            <div>
                <table>
                    <tbody><tr>
                        <td id="tabLTGateways"><img src="../images/tabLT.png" alt=""></td>
                        <td id="tabCTGateways" class="tabCT"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRTGateways"><img src="../images/tabRT.png" alt=""></td>
                        <td id="tabLTPolicies"><img src="../images/tabLT.png" alt=""></td>
                        <td id="tabCTPolicies" class="tabCT"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRTPolicies"><img src="../images/tabRT.png" alt=""></td>
                        <td id="tabLTReports"><img src="../images/tabLT.png" alt=""></td>
                        <td id="tabCTReports" class="tabCT"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRTReports"><img src="../images/tabRT.png" alt=""></td>
                        <td id="tabLTBackup"><img src="../images/tabLT.png" alt=""></td>
                        <td id="tabCTBackup" class="tabCT"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRTBackup"><img src="../images/tabRT.png" alt=""></td>
                        <td id="tabLTTools"><img src="../images/tabLT.png" alt=""></td>
                        <td id="tabCTTools" class="tabCT"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRTTools"><img src="../images/tabRT.png" alt=""></td>
                        <td id="tabLTSettings"><img src="../images/tabLT.png" alt=""></td>
                        <td id="tabCTSettings" class="tabCT"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRTSettings"><img src="../images/tabRT.png" alt=""></td>
                        <td><img src="../images/tabLT.png" alt=""></td>
                        <td class="tabCT"><img src="../images/spacer.png" alt=""></td>
                        <td><img src="../images/tabRT.png" alt=""></td>
                    </tr>
                    <tr>
                        <td id="tabLMGateways" class="tabLM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabCMGateways" class="tabCM"><a href="Gateways.html">Manage Gateways</a></td>
                        <td id="tabRMGateways" class="tabRM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabLMPolicies" class="tabLM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabCMPolicies" class="tabCM"><a href="PolicyMigration.html">Manage Policies</a></td>
                        <td id="tabRMPolicies" class="tabRM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabLMReports" class="tabLM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabCMReports" class="tabCM"><a href="Reports.html">Reports</a></td>
                        <td id="tabRMReports" class="tabRM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabLMBackup" class="tabLM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabCMBackup" class="tabCM"><a href="Backup.html">Backup &amp; Restore</a></td>
                        <td id="tabRMBackup" class="tabRM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabLMTools" class="tabLM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabCMTools" class="tabCMon">Tools</td>
                        <td id="tabRMTools" class="tabRM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabLMSettings" class="tabLM"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabCMSettings" class="tabCM"><a href="SystemSettings.html">Settings</a></td>
                        <td id="tabRMSettings" class="tabRM"><img src="../images/spacer.png" alt=""></td>
                        <td class="tabLM"><img src="../images/spacer.png" alt=""></td>
                        <td class="tabCM" width="100%"><img src="../images/spacer.png" alt=""></td>
                        <td class="tabRM"><img src="../images/spacer.png" alt=""></td>
                    </tr>
                    <tr>
                        <td id="tabLBGateways"><img src="../images/tabLBoff.png" alt=""></td>
                        <td id="tabCBGateways" class="tabCBoff"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRBGateways"><img src="../images/tabRBoff.png" alt=""></td>
                        <td id="tabLBPolicies"><img src="../images/tabLBoff.png" alt=""></td>
                        <td id="tabCBPolicies" class="tabCBoff"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRBPolicies"><img src="../images/tabRBoff.png" alt=""></td>
                        <td id="tabLBReports"><img src="../images/tabLBoff.png" alt=""></td>
                        <td id="tabCBReports" class="tabCBoff"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRBReports"><img src="../images/tabRBoff.png" alt=""></td>
                        <td id="tabLBBackup"><img src="../images/tabLBoff.png" alt=""></td>
                        <td id="tabCBBackup" class="tabCBoff"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRBBackup"><img src="../images/tabRBoff.png" alt=""></td>
                        <td id="tabLBTools"><img src="../images/tabLBon.png" alt=""></td>
                        <td id="tabCBTools" class="tabCBon"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRBTools"><img src="../images/tabRBon.png" alt=""></td>
                        <td id="tabLBSettings"><img src="../images/tabLBoff.png" alt=""></td>
                        <td id="tabCBSettings" class="tabCBoff"><img src="../images/spacer.png" alt=""></td>
                        <td id="tabRBSettings"><img src="../images/tabRBoff.png" alt=""></td>
                        <td><img src="../images/tabLBoff.png" alt=""></td>
                        <td class="tabCBoff"><img src="../images/spacer.png" alt=""></td>
                        <td><img src="../images/tabRBoff.png" alt=""></td>
                    </tr>
                </tbody></table>
            </div>
            <script language="JavaScript" type="text/javascript">
                initTab('Gateways', 'Gateways.html');
                initTab('Policies', 'PolicyMigration.html');
                initTab('Reports', 'Reports.html');
                initTab('Backup', 'Backup.html');
                initTab('Settings', 'SystemSettings.html');
            </script>
            <div class="subtabBar">
                <span class="subtabOff"><a href="Notifications.html">Notifications</a></span>
                |
                <span class="subtabOff"><a href="Audits.html">Audits</a></span>
                |
                <span class="subtabOff"><a href="Logs.html">Logs</a></span>
                |
                <span class="subtabOn">Test Web Service</span>
            </div>
            <div class="content">
                <div class="panel">
                    <div class="panelTitle">Echo Service</div>
                    <div class="panelContent">
                        <span style="font-size: 1in;">X</span>
                    </div>
                </div>
                <div class="panel">
                    <div class="panelTitle">Echo Client</div>
                    <div class="panelContent">
                        <span style="font-size: 1in;">X</span>
                    </div>
                </div>
            </div>
            <div class="statusBar">
                <table>
                    <tbody><tr>
                        <td width="100%">Time Zone: Canada/Pacific (GMT-08:00/-07:00)</td>
                        <td><a class="nowrap" href="http://www.layer7tech.com/" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </tbody></table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt=""></div>
        </td>
    </tr>
</tbody></table>
</body></html>