# Temp files
*~
*.sw[a-z]
.DS_Store
tmp
*.tmp
*.out
**/*.iml
./**/*.ipr
idea-classes/

# Build directories/files
build
.idea
**/.grunt/**
**/target/**
**/node/**
**/node_modules/**
**/_SpecRunner.html

# Any local binaries copied into the checkout root directory
*.war
*.iml
UneasyRooster.ipr
*.iws

# Application specific
*.env
