[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
innodb_data_file_path=ibdata:1024M:autoextend
innodb_buffer_pool_size=256M
set-variable = innodb_additional_mem_pool_size=10M
innodb_flush_log_at_trx_commit=1
log-bin
server-id=1
## log all statements. 
## for debugging only, writes A LOT of data
# log=query.log
# set default transaction isolation level
# to something more sane than repeatable read
transaction-isolation = READ-COMMITTED
     
#The size of the buffer used for index blocks. 
# Set this to 1/4 RAM,
key_buffer_size=128M
max_connections=1024
low-priority-updates=0
memlock=1


[mysql.server]
bind-address=0.0.0.0
user=mysql
basedir=/var/lib

[safe_mysqld]
err-log=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
