[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
innodb_data_file_path=ibdata:1024M:autoextend
innodb_additional_mem_pool_size=2M
innodb_log_buffer_size=1M
innodb_buffer_pool_size=93M
key_buffer_size=33M
query_cache_size=33M
innodb_log_file_size=19M
innodb_flush_log_at_trx_commit=2
max_connections=2048
low-priority-updates=0
transaction-isolation=READ-COMMITTED
max_connect_errors=2000000
low-priority-updates=0
memlock=1
interactive_timeout=864000
log-bin
log-slave-update
# uncomment the next item on 1st db master server
#server-id=1

# uncomment the next item on 2nd db master servers
#server-id=2

[mysql.server]
bind-address=0.0.0.0
user=mysql
basedir=/var/lib

[safe_mysqld]
err-log=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
