<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
             version="1.0">
    <persistence-unit name="processController" transaction-type="RESOURCE_LOCAL">
        <class>com.l7tech.server.management.config.gateway.PCGatewayConfig</class>
        <class>com.l7tech.server.management.config.gateway.IpAddressConfig</class>
        <class>com.l7tech.server.management.config.node.PCServiceNodeConfig</class>
        <class>com.l7tech.server.management.config.node.DatabaseConfig</class>
        <class>com.l7tech.server.management.config.node.ConnectorConfig</class>
        <class>com.l7tech.gateway.common.transport.SsgConnector</class>
        <!--<exclude-unlisted-classes/>-->
    </persistence-unit>
</persistence>