<!-- Minimal Layer 7 SSG Configuration file -->

<Server port="8005" shutdown="SHUTDOWN">
  <!-- Define the Tomcat Stand-Alone Service -->
  <Service name="Catalina">

    <!-- Define a non-SSL HTTP/1.1 Connector -->
    <Connector port="8080"
               maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
               enableLookups="false" redirectPort="8443" acceptCount="100"
               connectionTimeout="20000" disableUploadTimeout="true" 
               socketFactory="com.l7tech.server.tomcat.SsgServerSocketFactory"/>

      <!-- Define a SSL HTTP/1.1 Connector -->
      <Connector port="8443"
                 maxThreads="150" minSpareThreads="25" maxSpareThreads="75"
                 enableLookups="false" disableUploadTimeout="true"
                 acceptCount="100" scheme="https" secure="true"
                 clientAuth="want" sslProtocol="TLS" 
                 SSLImplementation="com.l7tech.server.tomcat.SsgSSLImplementation"/>

      <!-- Define a "no client cert challenges" SSL HTTP/1.1 Connector -->
      <Connector port="9443"
                 maxThreads="20" minSpareThreads="1" maxSpareThreads="10"
                 enableLookups="false" disableUploadTimeout="true"
                 acceptCount="100" scheme="https" secure="true"
                 clientAuth="false" sslProtocol="TLS" 
                 SSLImplementation="com.l7tech.server.tomcat.SsgSSLImplementation"/>

    <!-- Define the top level container in our container hierarchy -->
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost" appBase="webapps"
       unpackWARs="true" autoDeploy="true"
       xmlValidation="false" xmlNamespaceAware="false">
          <Valve className="com.l7tech.server.tomcat.ConnectionIdValve" />
          <Valve className="com.l7tech.server.tomcat.ResponseKillerValve" />
      </Host>
    </Engine>
  </Service>
</Server>
