/* Configuration source file for non-secure client */

import java.net.SocketPermission;
import java.security.Permission;
import net.jini.core.discovery.LookupLocator;
import net.jini.discovery.LookupDiscovery;
import net.jini.discovery.LookupLocatorDiscovery;
import net.jini.discovery.ConstrainableLookupLocator;
import net.jini.core.constraint.ClientAuthentication;
import net.jini.core.constraint.InvocationConstraint;
import net.jini.core.constraint.InvocationConstraints;
import net.jini.constraint.BasicMethodConstraints;

import net.jini.lookup.ServiceDiscoveryManager;
import net.jini.security.BasicProxyPreparer;
import com.sun.jini.discovery.DiscoveryProtocolVersion;

/* Items used in multiple blocks below */
shared.entries {

    private serviceLookupConstraints =
	new BasicMethodConstraints(
	    new InvocationConstraints(
		new InvocationConstraint[] {
		    DiscoveryProtocolVersion.TWO
		    },
		null));

}//end shared.entries

com.l7tech.jini.lookup.ServiceLookup {

    private groups = new String[] { "services.l7tech.com" };
/*
    serviceDiscovery = new ServiceDiscoveryManager(
	new LookupDiscovery(groups, this), null, this);
*/
    lookupLocator =
    new ConstrainableLookupLocator(
            "jini://localhost",
            shared.entries.serviceLookupConstraints);

    serviceDiscovery =
    new ServiceDiscoveryManager(
	    new LookupLocatorDiscovery(
	        new LookupLocator[] {lookupLocator} ), null, this);

}//end com.l7tech.jini.lookup.ServiceLookup

/* Configuration block for the lookup discovery utility */
net.jini.discovery.LookupDiscovery {

    registrarPreparer = new BasicProxyPreparer(
	false /* verify */,
	new Permission[] {
	    new SocketPermission("*:1024-", "connect")
	});

}//end net.jini.discovery.LookupDiscovery

/* Configuration block for the SDM */
net.jini.lookup.ServiceDiscoveryManager {

    registrarPreparer = net.jini.discovery.LookupDiscovery.registrarPreparer;

}//end net.jini.lookup.ServiceDiscoveryManager
