import java.io.File;
import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.DefaultServiceDescriptor;
import com.sun.jini.config.ConfigUtil;

/**
 * Server side service configurations that are started by the service starter
 *
 */
com.sun.jini.start {
		
   static private reggieCodebase = null;
   private static classpath = null;

    private static policy = "services.policy";
    private static config = "services.config";

    static reggieService =
        new DefaultServiceDescriptor(
	        reggieCodebase, policy, classpath,
	        "com.sun.jini.reggie.TransientRegistrarImpl",
	        config);

	static logService =
	        new DefaultServiceDescriptor(
	        reggieCodebase, policy, classpath,
	        "com.l7tech.adminws.logging.LogServiceImpl",
	        config);

    static identityService =
	        new DefaultServiceDescriptor(
	        reggieCodebase, policy, classpath,
	        "com.l7tech.adminws.identity.IdentityServiceImpl",
	        config);

	 static publishServicesService =
	        new DefaultServiceDescriptor(
	        reggieCodebase, policy, classpath,
	        "com.l7tech.adminws.service.ServiceManagerImpl",
	        config);


    static serviceDescriptors =
        new ServiceDescriptor[] {
	        reggieService, logService, identityService, publishServicesService
	        };
}
