// Kerberos login module configuration for SecureSpan Bridge

// Login module that uses ticket cache only
com.l7tech.common.security.kerberos.initiate {
    com.sun.security.auth.module.Krb5LoginModule required
    useTicketCache=true
    doNotPrompt=true
    renewTGT=true;
};

// Login module that will prompt for credentials
com.l7tech.common.security.kerberos.initiate.callback {
    com.sun.security.auth.module.Krb5LoginModule required;
};

