<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Configure [SecureSpan Enterprise Manager]</title>
    <wicket:head>
        <link rel="stylesheet" type="text/css" href="../css/l7.css" />

        <!-- Required YUI modules: button, dom, menu -->
        <link rel="stylesheet" type="text/css" href="../yui/menu/assets/skins/sam/menu.css">
        <link rel="stylesheet" type="text/css" href="../yui/button/assets/skins/sam/button.css">
        <script type="text/javascript" src="../yui/yahoo-dom-event/yahoo-dom-event.js"></script>
        <script type="text/javascript" src="../yui/container/container_core-min.js"></script>
        <script type="text/javascript" src="../yui/menu/menu-min.js"></script>
        <script type="text/javascript" src="../yui/element/element-beta-min.js"></script>
        <script type="text/javascript" src="../yui/button/button-min.js"></script>

        <link rel="stylesheet" type="text/css" href="../css/l7-yui-skin.css" /> <!-- modifies YUI sam skin; must come after YUI CSS files -->
        <script type="text/javascript" src="../js/l7.js"></script>
        <script type="text/javascript" src="../js/enterpriseTable.js"></script>
        <script type="text/javascript" src="../js/treeTable.js"></script>
        <script type="text/javascript">
            // Overriding default strings in enterpriseTable.js for localization.
            l7.EnterpriseTable.NEW_FOLDER = 'New Folder';
            l7.EnterpriseTable.ADD_SSG_CLUSTER = 'Add Cluster';
            l7.EnterpriseTable.CREATE_SSG_CLUSTER = 'Create Cluster';
            l7.EnterpriseTable.CREATE_SSG_NODE = 'Create Node';
            l7.EnterpriseTable.DELETE_SSG_NODE = 'Delete Node';
            l7.EnterpriseTable.RENAME = 'Rename';
            l7.EnterpriseTable.MOVE = 'Move';
            l7.EnterpriseTable.DELETE = 'Delete';
            l7.EnterpriseTable.LAUNCH_SSM = 'Launch SecureSpan Manager';

            function init() {
                var addFolderButton = new YAHOO.widget.Button('addFolderButton');
                var addSSGClusterButton = new YAHOO.widget.Button('addSSGClusterButton');
                var createSSGClusterButton = new YAHOO.widget.Button('createSSGClusterButton');
                var createSSGNodeButton = new YAHOO.widget.Button('createSSGNodeButton');
                var deleteSSGNodeButton = new YAHOO.widget.Button('deleteSSGNodeButton');
                var renameButton = new YAHOO.widget.Button('renameButton');
                var moveButton = new YAHOO.widget.Button('moveButton');
                var deleteButton = new YAHOO.widget.Button('deleteButton');
                var startButton = new YAHOO.widget.Button('startButton');
                var stopButton = new YAHOO.widget.Button('stopButton');
                var ssmButton = new YAHOO.widget.Button('ssmButton');
                // TODO assign URLs or use YAHOO.util.Event.addListener('addUserButton', 'click', function() {...})

                l7.TreeTable.initAll();
                l7.EnterpriseTable.initAll('../images');
                var enterpriseTable = document.getElementById('enterpriseTreeTable').l7_enterpriseTable;
                enterpriseTable.onRowSelectionChange = function(oldRow, newRow) {
                    addFolderButton.set('disabled', true);
                    addSSGClusterButton.set('disabled', true);
                    createSSGClusterButton.set('disabled', true);
                    createSSGNodeButton.set('disabled', true);
                    deleteSSGNodeButton.set('disabled', true);
                    renameButton.set('disabled', true);
                    moveButton.set('disabled', true);
                    deleteButton.set('disabled', true);
                    startButton.set('disabled', true);
                    stopButton.set('disabled', true);
                    ssmButton.set('disabled', true);
                    if (newRow != null) {
                        if (l7.Util.hasClass(newRow, 'l7-enterpriseFolder')) {
                            addFolderButton.set('disabled', false);
                            addSSGClusterButton.set('disabled', false);
                            createSSGClusterButton.set('disabled', false);
                            renameButton.set('disabled', false);
                            moveButton.set('disabled', l7.Util.hasClass(newRow, 'l7-enterpriseTable-cannotDelete'));
                            deleteButton.set('disabled', l7.Util.hasClass(newRow, 'l7-enterpriseTable-cannotDelete'));
                        } else if (l7.Util.hasClass(newRow, 'l7-SSGCluster')) {
                            createSSGNodeButton.set('disabled', false);
                            moveButton.set('disabled', false);
                            renameButton.set('disabled', false);
                            deleteButton.set('disabled', false);
                            ssmButton.set('disabled', false);
                        } else if (l7.Util.hasClass(newRow, 'l7-SSGNode')) {
                            deleteSSGNodeButton.set('disabled', false);
                            startButton.set('disabled', false);
                            stopButton.set('disabled', false);
                        } else if (l7.Util.hasClass(newRow, 'l7-policyFolder')) {
                            addFolderButton.set('disabled', false);
                            renameButton.set('disabled', false);
                            moveButton.set('disabled', false);
                            deleteButton.set('disabled', l7.Util.hasClass(newRow, 'l7-enterpriseTable-cannotDelete'));
                        }
                    }
                }
                enterpriseTable.onRowSelectionChange(null, enterpriseTable.getSelectedRow());
            }
        </script>
    </wicket:head>
</head>
<body class="yui-skin-sam" onload="init();">
<noscript><div class="javascriptWarning">This page requires JavaScript. Your browser either does not have JavaScript support or has disabled it.</div></noscript>
<table width="100%">
    <tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt="" /></td>
                        <td class="logo"><a href="Monitor.html"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc." /><img src="../images/emLogo.png" alt="" /></a></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt="" /></td>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="middle nowrap">Logged in as "admin"<br />since May 5, 2008 05:57:54 PM</td>
                        <td class="middle"><form method="get" action="Login.html"><input type="submit" value="Log Out" /></form></td>
                        <td class="middle help"><a href="Help.html" target="l7-esm-help" title="Open help page in a separate window">Help</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
            <div>
                <table>
                    <tr>
                        <td id="tabLTManageGateways"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTManageGateways" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTManageGateways"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTManagePolicies"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTManagePolicies" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTManagePolicies"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTReports"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTReports" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTReports"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTTools"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTTools" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTTools"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTSettings"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTSettings" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTSettings"><img src="../images/tabRT.png" alt="" /></td>
                        <td><img src="../images/tabLT.png" alt="" /></td>
                        <td class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRT.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLMManageGateways" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMManageGateways" class="tabCMon">Manage Gateways</td>
                        <td id="tabRMManageGateways" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMManagePolicies" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMManagePolicies" class="tabCM"><a href="PolicyMigration.html">Manage Policies</a></td>
                        <td id="tabRMManagePolicies" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMReports" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMReports" class="tabCM"><a href="StandardReports.html">Reports</a></td>
                        <td id="tabRMReports" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMTools" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMTools" class="tabCM"><a href="Messages.html">Tools</a></td>
                        <td id="tabRMTools" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMSettings" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMSettings" class="tabCM"><a href="UserSettings.html">Settings</a></td>
                        <td id="tabRMSettings" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabCM" width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLBManageGateways"><img src="../images/tabLBon.png" alt="" /></td>
                        <td id="tabCBManageGateways" class="tabCBon"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBManageGateways"><img src="../images/tabRBon.png" alt="" /></td>
                        <td id="tabLBManagePolicies"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBManagePolicies" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBManagePolicies"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBReports"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBReports" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBReports"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBTools"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBTools" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBTools"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBSettings"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBSettings" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBSettings"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td><img src="../images/tabLBoff.png" alt="" /></td>
                        <td class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRBoff.png" alt="" /></td>
                    </tr>
                </table>
            </div>
            <script language="JavaScript" type="text/javascript">
                l7.TabBar.initTab('ManagePolicies');
                l7.TabBar.initTab('Reports');
                l7.TabBar.initTab('Tools');
                l7.TabBar.initTab('Settings');
            </script>
            <div class="subtabBar">
                <span class="subtabOff"><a href="Monitor.html">Monitor</a></span>
                |
                <span class="subtabOn">Configure</span>
                |
                <span class="subtabOff"><a href="Backup.html">Backup</a></span>
                |
                <span class="subtabOff"><a href="Restore.html">Restore</a></span>
            </div>
            <div class="content">
                <div class="panel">
                    <div class="panelTitle">Enterprise Gateways</div>
                    <div id="enterpriseTree">
                        <div class="panelToolbar">
                            <button id="addFolderButton" type="submit" name="addFolderButton" value="addFolder"><img src="../images/addFolder.png" alt="" />&nbsp;New Folder</button>
                            <button id="addSSGClusterButton" type="submit" name="addSSGClusterButton" value="addSSGCluster"><img src="../images/addSSGCluster.png" alt="" />&nbsp;Add Cluster</button>
                            <button id="createSSGClusterButton" type="submit" name="createSSGClusterButton" value="createSSGCluster"><img src="../images/createSSGCluster.png" alt="" />&nbsp;Create Cluster</button>
                            <button id="createSSGNodeButton" type="submit" name="createSSGNodeButton" value="createSSGNode"><img src="../images/createSSGNode.png" alt="" />&nbsp;Create Node</button>
                            <button id="deleteSSGNodeButton" type="submit" name="deleteSSGNodeButton" value="deleteSSGNode"><img src="../images/deleteSSGNode.png" alt="" />&nbsp;Delete Node</button>
                            <button id="renameButton" type="submit" name="renameButton" value="rename"><img src="../images/rename.png" alt="" />&nbsp;Rename</button>
                            <button id="moveButton" type="submit" name="moveButton" value="move"><img src="../images/move.png" alt="" />&nbsp;Move</button>
                            <button id="deleteButton" type="submit" name="deleteButton" value="delete"><img src="../images/delete.png" alt="" />&nbsp;Delete</button>
                            <button id="startButton" type="submit" name="startButton" value="start"><img src="../images/start.png" alt="" />&nbsp;Start</button>
                            <button id="stopButton" type="submit" name="stopButton" value="stop"><img src="../images/stop.png" alt="" />&nbsp;Stop</button>
                            <button id="ssmButton" type="submit" name="ssmButton" value="ssm"><img src="../images/ssm.png" alt="" />&nbsp;Launch SSM</button>
                        </div>
                        <div class="panelContent">
                            <table id="enterpriseTreeTable" class="dataTable l7-treeTable l7-enterpriseTable l7-enterpriseTable-rowSelectable" width="100%">
                                <thead>
                                    <tr>
                                        <th class="name">Name<br /><img src="../images/spacer.png" alt="" height="0" width="140" /><!-- minimum width --></th>
                                        <th><img src="../images/status.png" title="Status" alt="" /></th>
                                        <th><img src="../images/accessAccount.png" title="Access Account" alt="" /></th>
                                        <th>Type</th>
                                        <th width="100%">Details</th>
                                        <th class="parentId"><!-- hidden column --></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="3d7fa710-334c-11dd-bd11-0800200c9a66" class="l7-enterpriseFolder l7-enterpriseTable-cannotDelete">
                                        <td class="name"><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/folder.png" alt="" />Springfield Nuclear Power Plant </td>
                                        <td></td>
                                        <td></td>
                                        <td>folder</td>
                                        <td class="details"></td>
                                        <td class="parentId">-1</td>
                                    </tr>
                                    <tr id="40f62d36-4146-4f4b-bdd6-14489526b1a6" class="l7-enterpriseFolder">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/folder.png" alt="" />Electricity</td>
                                        <td></td>
                                        <td></td>
                                        <td>folder</td>
                                        <td class="details"></td>
                                        <td class="parentId">3d7fa710-334c-11dd-bd11-0800200c9a66</td>
                                    </tr>
                                    <tr id="d15ce378-df33-44f3-a632-89458f421c24" class="l7-SSGCluster">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/SSGCluster.png" alt="" />Dev</td>
                                        <td><img src="../images/SSGClusterStatePartiallyUp.png" title="Partially Up" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td>SSG Cluster</td>
                                        <td class="details"><span class="hasTooltip" title="SSL host name">dev.electricity.springfield.com</span>:<span class="hasTooltip" title="administrative port number">8443</span> (<span class="hasTooltip" title="IP address">216.70.76.1</span>) [<span class="hasTooltip" title="database host(s)">e1.springfield.com</span>]</td>
                                        <td class="parentId">40f62d36-4146-4f4b-bdd6-14489526b1a6</td>
                                    </tr>
                                    <tr id="67f0a6f8-12c5-48af-b1fb-0058d8b1ca64" class="l7-SSGNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/SSGNode.png" alt="" />Dev1</td>
                                        <td><img src="../images/SSGNodeStateOn.png" title="On" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td>SSG Node</td>
                                        <td class="details"><span class="hasTooltip" title="self host name">e1.springfield.com</span> (<span class="hasTooltip" title="IP address">192.168.1.101</span>)</td>
                                        <td class="parentId">d15ce378-df33-44f3-a632-89458f421c24</td>
                                    </tr>
                                    <tr id="899afe70-2490-471f-997b-a52815322b27" class="l7-SSGNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/SSGNode.png" alt="" />Dev2</td>
                                        <td><img src="../images/SSGNodeStateOff.png" title="Off" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td>SSG Node</td>
                                        <td class="details"><span class="hasTooltip" title="self host name">e2.springfield.com</span> (<span class="hasTooltip" title="IP address">192.168.1.102</span>)</td>
                                        <td class="parentId">d15ce378-df33-44f3-a632-89458f421c24</td>
                                    </tr>
                                    <tr id="c32bb1a9-1538-4792-baa1-566bfd418020" class="l7-SSGCluster">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/SSGCluster.png" alt="" />Production</td>
                                        <td><img src="../images/SSGClusterStateDown.png" title="Down" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td>SSG Cluster</td>
                                        <td class="details"><span class="hasTooltip" title="SSL host name">prod.electricity.springfield.com</span>:<span class="hasTooltip" title="administrative port number">8443</span> (<span class="hasTooltip" title="IP address">216.70.76.2</span>) [<span class="hasTooltip" title="database host(s)">e3.springfield.com,e4.springfield.com</span>]</td>
                                        <td class="parentId">40f62d36-4146-4f4b-bdd6-14489526b1a6</td>
                                    </tr>
                                    <tr id="f90cf133-0e3b-4b04-b489-7afd5cbff609" class="l7-SSGNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/SSGNode.png" alt="" />Prod1</td>
                                        <td><img src="../images/SSGNodeStateDown.png" title="Down" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td>SSG Node</td>
                                        <td class="details"><span class="hasTooltip" title="self host name">e3.springfield.com</span> (<span class="hasTooltip" title="IP address">192.168.1.103</span>)</td>
                                        <td class="parentId">c32bb1a9-1538-4792-baa1-566bfd418020</td>
                                    </tr>
                                    <tr id="29b2aaf3-bec3-4771-ab0e-8c40e9a2005c" class="l7-SSGNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/SSGNode.png" alt="" />Prod2</td>
                                        <td><img src="../images/SSGNodeStateOffline.png" title="Offline" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td>SSG Node</td>
                                        <td class="details"><span class="hasTooltip" title="self host name">e4.springfield.com</span> (<span class="hasTooltip" title="IP address">192.168.1.104</span>)</td>
                                        <td class="parentId">c32bb1a9-1538-4792-baa1-566bfd418020</td>
                                    </tr>
                                    <tr id="b614e196-44ea-457b-b38d-567c3541fabd" class="l7-enterpriseFolder">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/folder.png" alt="" />Uranium</td>
                                        <td></td>
                                        <td></td>
                                        <td>folder</td>
                                        <td class="details"></td>
                                        <td class="parentId">3d7fa710-334c-11dd-bd11-0800200c9a66</td>
                                    </tr>
                                    <tr id="1c9d5a50-6a58-48a5-b7d4-b0cb356820f2" class="l7-SSGCluster">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/SSGCluster.png" alt="" />Dev</td>
                                        <td><img src="../images/SSGClusterStateUp.png" title="Up" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td>SSG Cluster</td>
                                        <td class="details"><span class="hasTooltip" title="SSL host name">dev.uranium.springfield.com</span>:<span class="hasTooltip" title="administrative port number">8443</span> (<span class="hasTooltip" title="IP address">216.70.76.3</span>) [<span class="hasTooltip" title="database host(s)">u1.springfield.com</span>]</td>
                                        <td class="parentId">b614e196-44ea-457b-b38d-567c3541fabd</td>
                                    </tr>
                                    <tr id="81b5136c-e2a9-42f4-b96a-c6208edb4e58" class="l7-SSGNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/SSGNode.png" alt="" />Dev1</td>
                                        <td><img src="../images/SSGNodeStateOn.png" title="On" alt=""></td>
                                        <td><img class="clickableImg" src="../images/accessAccount.png" title="Change access account" alt="" /></td>
                                        <td>SSG Node</td>
                                        <td class="details"><span class="hasTooltip" title="self host name">u1.springfield.com</span> (<span class="hasTooltip" title="IP address">192.168.1.201</span>)</td>
                                        <td class="parentId">1c9d5a50-6a58-48a5-b7d4-b0cb356820f2</td>
                                    </tr>
                                    <tr id="a14df4d4-0c62-4d8e-ac3a-82cd8a442a26" class="l7-SSGCluster">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../images/minus.png" alt="" /><img src="../images/SSGCluster.png" alt="" />Production</td>
                                        <td></td>
                                        <td><img class="clickableImg" src="../images/noAccessAccount.png" title="Enter access account" alt="" /></td>
                                        <td>SSG Cluster</td>
                                        <td class="details"><span class="hasTooltip" title="SSL host name">prod.uranium.springfield.com</span>:<span class="hasTooltip" title="administrative port number">8443</span> (<span class="hasTooltip" title="IP address">216.70.76.4</span>) [<span class="hasTooltip" title="database host(s)">u2.springfield.com</span>]</td>
                                        <td class="parentId">b614e196-44ea-457b-b38d-567c3541fabd</td>
                                    </tr>
<!-- If no access account for SSG Cluster, then no listing of SSG Nodes.
                                    <tr id="f57307d1-9967-448b-874b-9da8e374a09b" class="l7-SSGNode">
                                        <td class="name"><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/spacer16.png" alt="" /><img src="../images/dot.png" alt="" /><img src="../images/SSGNode.png" alt="" />Prod1</td>
                                        <td></td>
                                        <td><img class="clickableImg" src="../images/noAccessAccount.png" title="Enter access account" alt="" /></td>
                                        <td>SSG Node</td>
                                        <td class="details"><span class="hasTooltip" title="self host name">u2.springfield.com</span> (<span class="hasTooltip" title="IP address">192.168.1.202</span>)</td>
                                        <td class="parentId">a14df4d4-0c62-4d8e-ac3a-82cd8a442a26</td>
                                    </tr>
-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statusBar">
                <table>
                    <tr>
                        <td width="100%">Time Zone: Canada/Pacific (GMT-08:00/<b>-07:00</b>)</td>
                        <td><a class="nowrap" href="http://www.layer7tech.com" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
        </td>
    </tr>
</table>
</body>
</html>
