<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:wicket="http://wicket.apache.org/">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Log In [SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" href="../css/l7.css" media="all" type="text/css" />
    <script type="text/javascript" src="../js/l7.js"></script>
</head>
<body>
<table width="100%">
    <tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt="" /></td>
                        <td class="logo"><a href="/"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc." /><img src="../images/emLogo.png" alt="" /></a></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt="" /></td>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
            <div class="content">
                <div class="panel">
                    <div class="panelTitle"><wicket:message key="label.errorTitle">Error</wicket:message></div>
                    <div class="panelContent">
                        <span style="font-weight: bolder;"><wicket:message key="label.error">An internal error occurred.</wicket:message></span>
                    </div>
                </div>

                <wicket:enclosure>
                <div class="panel">
                    <div class="panelTitle"><wicket:message key="label.errorDetailTitle">Error</wicket:message></div>
                    <div class="panelContent">
                        <form>
                            <textarea wicket:id="exception" rows="40" cols="180" wrap="off" readonly="readonly" style="width: 98%; height:70%; overflow: scroll; overflow-y: scroll; overflow-x: scroll;">
                            </textarea>
                        </form>
                    </div>
                </div>
                </wicket:enclosure>
            </div>
            <div class="statusBar">
                <table>
                    <tr>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td><a class="nowrap" href="http://www.layer7tech.com" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
        </td>
    </tr>
</table>
</body>
</html>
