<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:wicket="http://wicket.apache.org/">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title wicket:id="titleLabel">[SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" href="../css/l7.css" media="all" type="text/css" />
    <script type="text/javascript" src="../js/l7.js"></script>
</head>
<body class="yui-skin-sam">
<noscript><div class="javascriptWarning">This page requires JavaScript. Your browser either does not have JavaScript support or has disabled it.</div></noscript>
<table width="100%">
    <tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt="" /></td>
                        <td class="logo"><a href="Monitor.html"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc." /><img src="../images/emLogo.png" alt="" /></a></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt="" /></td>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="middle nowrap"><span wicket:id="userLabel">Logged in as "admin"</span><br /><span wicket:id="sinceLabel">since May 5, 2008 05:57:54 PM</span></td>
                        <td class="middle"><form method="get" action="Login.html"><input type="submit" value="Log Out" wicket:message="value:page.logOut"/></form></td>
                        <td class="middle help"><a href="Help.html" target="l7-esm-help" title="Open help page in a separate window" wicket:message="title:page.helpTitle"><wicket:message key="page.help">Help</wicket:message></a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
            <div wicket:id="navigation"/>
            <div class="content">
                <wicket:child/>                
            </div>
            <div class="statusBar">
                <table>
                    <tr>
                        <td width="100%"><span wicket:id="timeZoneLabel">Time Zone: Canada/Pacific (GMT-08:00/<b>-07:00</b>)</span></td>
                        <td><a class="nowrap" href="http://www.layer7tech.com" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
        </td>
    </tr>
</table>
</body>
</html>
