<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:wicket="http://wicket.apache.org/">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>User Accounts [SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" type="text/css" href="../css/l7.css" />
    <link rel="stylesheet" type="text/css" href="../yui/button/assets/skins/sam/button.css">
    <link rel="stylesheet" type="text/css" href="../yui/menu/assets/skins/sam/menu.css">
    <link type="text/css" rel="stylesheet" href="../yui/datatable/assets/skins/sam/datatable.css">
    <link rel="stylesheet" type="text/css" href="../css/l7-yui-skin.css"> <!-- modifies YUI sam skin; must come after YUI CSS files -->
    <script type="text/javascript" src="../yui/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="../yui/container/container_core-min.js"></script>
    <script type="text/javascript" src="../yui/element/element-beta-min.js"></script>
    <script type="text/javascript" src="../yui/button/button-min.js"></script>
    <script type="text/javascript" src="../yui/menu/menu-min.js"></script>
    <script type="text/javascript" src="../yui/datasource/datasource-beta-min.js"></script>
    <script type="text/javascript" src="../yui/dragdrop/dragdrop-min.js"></script>
    <script type="text/javascript" src="../yui/datatable/datatable-beta-min.js"></script>
    <script type="text/javascript" src="../js/l7.js"></script>
    <script type="text/javascript" src="../js/enterpriseTable.js"></script>
    <script type="text/javascript" src="../js/treeTable.js"></script>
</head>
<body class="yui-skin-sam" onload="init();">
<table width="100%">
    <tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt="" /></td>
                        <td class="logo"><a href="Monitor.html"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc." /><img src="../images/emLogo.png" alt="" /></a></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt="" /></td>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="middle nowrap">Logged in as "admin"<br />since May 5, 2008 05:57:54 PM</td>
                        <td class="middle"><form method="get" action="Login.html"><input type="submit" value="Log Out" /></form></td>
                        <td class="middle help"><a href="Help.html" target="_blank" title="Open help page in a new window">Help</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
            <div>
                <table>
                    <tr>
                        <td id="tabLTManageGateways"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTManageGateways" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTManageGateways"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTManagePolicies"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTManagePolicies" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTManagePolicies"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTReports"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTReports" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTReports"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTBackup"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTBackup" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTBackup"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTTools"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTTools" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTTools"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTSettings"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTSettings" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTSettings"><img src="../images/tabRT.png" alt="" /></td>
                        <td><img src="../images/tabLT.png" alt="" /></td>
                        <td class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRT.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLMManageGateways" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMManageGateways" class="tabCMon">Manage Enterprise</td>
                        <td id="tabRMManageGateways" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMManagePolicies" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMManagePolicies" class="tabCM"><a href="PolicyMigration.html">Manage Policies</a></td>
                        <td id="tabRMManagePolicies" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMReports" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMReports" class="tabCM"><a href="StandardReports.html">Reports</a></td>
                        <td id="tabRMReports" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMBackup" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMBackup" class="tabCM"><a href="Backup.html">Backup &amp; Restore</a></td>
                        <td id="tabRMBackup" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMTools" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMTools" class="tabCM"><a href="Messages.html">Tools</a></td>
                        <td id="tabRMTools" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMSettings" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMSettings" class="tabCM"><a href="UserSettings.html">Settings</a></td>
                        <td id="tabRMSettings" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabCM" width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLBManageGateways"><img src="../images/tabLBon.png" alt="" /></td>
                        <td id="tabCBManageGateways" class="tabCBon"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBManageGateways"><img src="../images/tabRBon.png" alt="" /></td>
                        <td id="tabLBManagePolicies"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBManagePolicies" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBManagePolicies"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBReports"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBReports" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBReports"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBBackup"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBBackup" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBBackup"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBTools"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBTools" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBTools"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBSettings"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBSettings" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBSettings"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td><img src="../images/tabLBoff.png" alt="" /></td>
                        <td class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRBoff.png" alt="" /></td>
                    </tr>
                </table>
            </div>
            <script language="JavaScript" type="text/javascript">
                initTab('Policies');
                initTab('Reports');
                initTab('Backup');
                initTab('Tools');
                initTab('Settings');
            </script>
            <div class="subtabBar">
                <span class="subtabOff"><a href="Configure.html">Gateways</a></span>
                |
                <span class="subtabOn">User Accounts</span>
            </div>
            <div class="content">
                <wicket:extend>
                    <div class="panel">
                        <div class="panelTitle"><wicket:message key="panel.newuser.title">Create User</wicket:message></div>
                        <div class="panelContent">
                            <div wicket:id="feedback" class="center"/>
                            <form action="EnterpriseUsersNew.html" method="POST" wicket:id="newUserForm">
                                <table class="indent spaced">
                                    <tr>
                                        <th>User ID:</th>
                                        <td><input id="userId" name="userId" type="text" wicket:id="userId"/></td>
                                    </tr>
                                    <tr>
                                        <th>Surname:</th>
                                        <td><input id="lastName" name="lastName" type="text" wicket:id="lastName"/></td>
                                    </tr>
                                    <tr>
                                        <th>Given Name:</th>
                                        <td><input id="firstName" name="firstName" type="text" wicket:id="firstName"/></td>
                                    </tr>
                                    <tr>
                                        <th>Password:</th>
                                        <td><input id="password" name="password" type="password" wicket:id="password"/></td>
                                    </tr>
                                    <tr>
                                        <th>Confirm Password:</th>
                                        <td><input id="password2" name="password2" type="password" wicket:id="passwordConfirm"/></td>
                                    </tr>
                                 </table>
                                 <input type="submit" value="Apply"/>
                            </form>
                        </div>
                    </div>
                </wicket:extend>
            </div>
            <div class="statusBar">
                <table>
                    <tr>
                        <td width="100%">Time Zone: Canada/Pacific (GMT-08:00/<b>-07:00</b>)</td>
                        <td><a class="nowrap" href="http://www.layer7tech.com" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
        </td>
    </tr>
</table>
</body>
</html>
