<!--
    Panel for edit of HTTP listener info
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
      <wicket:panel>
        <form wicket:id="listenerForm">
            <table width="100%" height="100%" class="spaced">
                <tr>
                    <td valign="top">
                        <div>
                            Enter the IP address and port for the HTTPS listener.
                        </div>
                        <br/>
                        <div wicket:id="feedback"/>
                        <div>
                            <table class="spaced">
                                <tr>
                                    <th>IP Address:</th>
                                    <td><input wicket:id="addr" type="text" maxLength="15"/></td>
                                </tr>
                                <tr>
                                    <th>Port:</th>
                                    <td><input wicket:id="port" type="text" maxLength="5"/></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
      </wicket:panel>
  </body>
</html>