<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Policy Submission [Enterprise Service Manager]</title>
    <link rel="stylesheet" href="../css/l7.css" media="all" type="text/css" />

    <!-- Required YUI modules: animation -->
    <script type="text/javascript" src="../yui/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="../yui/animation/animation-min.js"></script>

    <script type="text/javascript" src="../js/l7.js"></script>
    <script type="text/javascript">
        var MIN_FRAME_HEIGHT = 150;
        var MAX_FRAME_HEIGHT = 500;
        var INCR_FRAME_HEIGHT = 50;
        var DECR_FRAME_HEIGHT = - INCR_FRAME_HEIGHT;

        function initSrcSSGClusterSelector(self) {
            self.contentWindow.ssgClusterContentIFrameName = 'srcSSGClusterContent';
            self.contentWindow.ssgClusterContentIFrameType = 'ssgClusterContentWithCheckbox';
        }

        function initSrcSSGClusterContent(self) {
            if (self.src != '') {
                self.contentWindow.setDetailsIFrameName('srcItemDetails');
            }
        }
    </script>
</head>
<body>
<noscript><div class="javascriptWarning">This page requires JavaScript. Your browser either does not have JavaScript support or has disabled it.</div></noscript>
<table width="100%">
    <tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt="" /></td>
                        <td class="logo"><a href="Monitor.html"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc." /><img src="../images/esmLogo.png" alt="" /></a></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt="" /></td>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="middle nowrap">Logged in as "admin"<br />since May 5, 2008 05:57:54 PM</td>
                        <td class="middle"><form method="get" action="Login.html"><input type="submit" value="Log Out" /></form></td>
                        <td class="middle help"><a href="Help.html" target="l7-esm-help" title="Open help page in a separate window">Help</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
            <div>
                <table>
                    <tr>
                        <td id="tabLTManageGateways"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTManageGateways" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTManageGateways"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTManagePolicies"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTManagePolicies" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTManagePolicies"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTReports"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTReports" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTReports"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTTools"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTTools" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTTools"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTSettings"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTSettings" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTSettings"><img src="../images/tabRT.png" alt="" /></td>
                        <td><img src="../images/tabLT.png" alt="" /></td>
                        <td class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRT.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLMManageGateways" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMManageGateways" class="tabCM"><a href="Monitor.html">Manage Gateways</a></td>
                        <td id="tabRMManageGateways" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMManagePolicies" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMManagePolicies" class="tabCMon">Manage Policies</td>
                        <td id="tabRMManagePolicies" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMReports" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMReports" class="tabCM"><a href="StandardReports.html">Reports</a></td>
                        <td id="tabRMReports" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMTools" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMTools" class="tabCM"><a href="Messages.html">Tools</a></td>
                        <td id="tabRMTools" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMSettings" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMSettings" class="tabCM"><a href="UserSettings.html">Settings</a></td>
                        <td id="tabRMSettings" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabCM" width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLBManageGateways"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBManageGateways" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBManageGateways"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBManagePolicies"><img src="../images/tabLBon.png" alt="" /></td>
                        <td id="tabCBManagePolicies" class="tabCBon"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBManagePolicies"><img src="../images/tabRBon.png" alt="" /></td>
                        <td id="tabLBReports"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBReports" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBReports"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBTools"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBTools" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBTools"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBSettings"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBSettings" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBSettings"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td><img src="../images/tabLBoff.png" alt="" /></td>
                        <td class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRBoff.png" alt="" /></td>
                    </tr>
                </table>
            </div>
            <script language="JavaScript" type="text/javascript">
                l7.TabBar.initTab('ManageGateways');
                l7.TabBar.initTab('Reports');
                l7.TabBar.initTab('Tools');
                l7.TabBar.initTab('Settings');
            </script>
            <div class="subtabBar">
                <span class="subtabOff"><a href="PolicyMigration.html">Migration</a></span>
                |
                <span class="subtabOn">Submission</span>
                |
                <span class="subtabOff"><a href="PolicyApproval.html">Approval</a></span>
                |
                <span class="subtabOff"><a href="PolicyMapping.html">Mapping</a></span>
            </div>
            <div class="content">
                <div class="sideBySide">
                    <table>
                        <tr>
                            <td><img src="../images/spacer.png" alt="" height="0" width="350" /><!-- minimum width --></td>
                            <td class="srcDestCenter"></td>
                            <td><img src="../images/spacer.png" alt="" height="0" width="350" /><!-- minimum width --></td>
                        </tr>
                        <tr>
                            <td width="50%"><table width="100%">
                                <tr>
                                    <td class="srcDestTitleLeft"><img src="../images/spacer.png" width="8" height="8" alt="" /></td>
                                    <td class="srcDestTitleCenter" width="100%">Source</td>
                                    <td class="srcDestTitleRight"><img src="../images/spacer.png" width="8" height="8" alt="" /></td>
                                </tr>
                            </table></td>
                            <td class="srcDestCenter"></td>
                            <td width="50%"><table width="100%">
                                <tr>
                                    <td class="srcDestTitleLeft"><img src="../images/spacer.png" width="8" height="8" alt="" /></td>
                                    <td class="srcDestTitleCenter" width="100%">Destination</td>
                                    <td class="srcDestTitleRight"><img src="../images/spacer.png" width="8" height="8" alt="" /></td>
                                </tr>
                            </table></td>
                        </tr>
                        <tr>
                            <td class="srcDestTop">
                                <table width="100%">
                                    <tr>
                                        <td class="nowrap">Select a source SSG Cluster:</td>
                                        <td class="right" width="100%">
                                            <img class="clickable" src="../images/taller.png" title="Make taller" alt="" onclick="l7.Resize.changeHeight(['srcSSGClusterSelector', 'userSelector'], INCR_FRAME_HEIGHT, MIN_FRAME_HEIGHT, MAX_FRAME_HEIGHT);" />
                                            <img class="clickable" src="../images/shorter.png" title="Make shorter" alt="" onclick="l7.Resize.changeHeight(['srcSSGClusterSelector', 'userSelector'], DECR_FRAME_HEIGHT, MIN_FRAME_HEIGHT, MAX_FRAME_HEIGHT);" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="srcDestCenter"></td>
                            <td class="srcDestTop">
                                <table width="100%">
                                    <tr>
                                        <td class="nowrap">Select a recipient:</td>
                                        <td class="right" width="100%">
                                            <img class="clickable" src="../images/taller.png" title="Make taller" alt="" onclick="l7.Resize.changeHeight(['srcSSGClusterSelector', 'userSelector'], INCR_FRAME_HEIGHT, MIN_FRAME_HEIGHT, MAX_FRAME_HEIGHT);" />
                                            <img class="clickable" src="../images/shorter.png" title="Make shorter" alt="" onclick="l7.Resize.changeHeight(['srcSSGClusterSelector', 'userSelector'], DECR_FRAME_HEIGHT, MIN_FRAME_HEIGHT, MAX_FRAME_HEIGHT);" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="srcDest"><iframe id="srcSSGClusterSelector" src="SSGClusterSelector.html" frameborder="0" scrolling="yes" height="150" width="100%" onload="initSrcSSGClusterSelector(this);"></iframe></td>
                            <td class="srcDestCenter"></td>
                            <td class="srcDest"><iframe id="userSelector" src="UserSelector.html" frameborder="0" scrolling="yes" height="150" width="100%"></iframe></td>
                        </tr>
                        <tr>
                            <td class="srcDest">
                                <table width="100%">
                                    <tr>
                                        <td class="nowrap">Select items to submit for approval:</td>
                                        <td class="right" width="100%">
                                            <img class="clickable" src="../images/taller.png" title="Make taller" alt="" onclick="l7.Resize.changeHeight(['srcSSGClusterContent'], INCR_FRAME_HEIGHT, MIN_FRAME_HEIGHT, MAX_FRAME_HEIGHT);" />
                                            <img class="clickable" src="../images/shorter.png" title="Make shorter" alt="" onclick="l7.Resize.changeHeight(['srcSSGClusterContent'], DECR_FRAME_HEIGHT, MIN_FRAME_HEIGHT, MAX_FRAME_HEIGHT);" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="srcDestCenter"></td>
                            <td class="srcDestBottom top submissionMessageEntry" rowspan="4">
                                <div>Subject:</div>
                                <div><input type="text" /></div>
                                <div>
                                    <table width="100%">
                                        <tr>
                                            <td class="nowrap">Message (optional):</td>
                                            <td class="right" width="100%">
                                                <img class="clickable" src="../images/taller.png" title="Make taller" alt="" onclick="l7.Resize.changeHeight(['submissionMessage'], INCR_FRAME_HEIGHT, MIN_FRAME_HEIGHT, MAX_FRAME_HEIGHT);" />
                                                <img class="clickable" src="../images/shorter.png" title="Make shorter" alt="" onclick="l7.Resize.changeHeight(['submissionMessage'], DECR_FRAME_HEIGHT, MIN_FRAME_HEIGHT, MAX_FRAME_HEIGHT);" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div><textarea id="submissionMessage" rows="" cols=""></textarea></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="srcDest"><iframe id="srcSSGClusterContent" frameborder="0" scrolling="yes" height="150" width="100%" onload="initSrcSSGClusterContent(this);"></iframe></td>
                            <td class="srcDestCenter">Submit<br /><img src="../images/copy.png" alt="" /></td>
                        </tr>
                        <tr>
                            <td class="srcDest">
                                <table width="100%">
                                    <tr>
                                        <td class="nowrap"><img src="../images/zoom.png" alt="" /> Item Details:</td>
                                        <td class="right" width="100%">
                                            <img class="clickable" src="../images/taller.png" title="Make taller" alt="" onclick="l7.Resize.changeHeight(['srcItemDetails'], INCR_FRAME_HEIGHT, MIN_FRAME_HEIGHT, MAX_FRAME_HEIGHT);" />
                                            <img class="clickable" src="../images/shorter.png" title="Make shorter" alt="" onclick="l7.Resize.changeHeight(['srcItemDetails'], DECR_FRAME_HEIGHT, MIN_FRAME_HEIGHT, MAX_FRAME_HEIGHT);" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td class="srcDestCenter"></td>
                        </tr>
                        <tr>
                            <td class="srcDestBottom"><iframe id="srcItemDetails" frameborder="0" scrolling="yes" height="150" width="100%"></iframe></td>
                            <td class="srcDestCenter"></td>
                        </tr>
                    </table>
                </div>
                <div class="panel">
                    <div class="panelTitle">Your submissions:</div>
                    <div class="panelContent">
                        <table class="dataTable">
                            <thead>
                                <tr>
                                    <th class="edit"></th>
                                    <th>Submission Time</th>
                                    <th width="100%">Subject</th>
                                    <th>Recipient</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- TODO Generate table rows like this:
                                <tr>
                                    <td><img class="clickable" src="../images/zoom.png" title="Show details" alt="" /><img class="clickable" src="../images/delete.png" title="Delete" alt="" /></td>
                                    <td>2008-06-09 10:11:56</td>
                                    <td>Bidding service for Uranium</td>
                                    <td>lisa [Lisa Simpson]</td>
                                    <td>Approved 2008-06-11 13:11:09</td>
                                </tr>
                                <tr>
                                    <td><img class="clickable" src="../images/zoom.png" title="Show details" alt="" /><img class="clickable" src="../images/delete.png" title="Delete" alt="" /></td>
                                    <td>2008-06-10 14:01:43</td>
                                    <td>Accounting service for Electricity</td>
                                    <td>lisa [Lisa Simpson]</td>
                                    <td>Rejected 2008-06-10 16:34:02</td>
                                </tr>
                                <tr>
                                    <td><img class="clickable" src="../images/zoom.png" title="Show details" alt="" /><img class="clickable" src="../images/remove.png" title="Withdraw" alt="" /></td>
                                    <td>2008-06-12 14:01:43</td>
                                    <td>Sales service for Electricity</td>
                                    <td>lisa [Lisa Simpson]</td>
                                    <td>Pending</td>
                                </tr>
                                <tr>
                                    <td><img class="clickable" src="../images/zoom.png" title="Show details" alt="" /><img class="clickable" src="../images/remove.png" title="Withdraw" alt="" /></td>
                                    <td>2008-06-14 09:34:39</td>
                                    <td>Stockpile service for Uranium</td>
                                    <td>lisa [Lisa Simpson]</td>
                                    <td>Pending</td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="statusBar">
                <table>
                    <tr>
                        <td width="100%">Time Zone: Canada/Pacific (GMT-08:00/<b>-07:00</b>)</td>
                        <td><a class="nowrap" href="http://www.layer7tech.com" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
        </td>
    </tr>
</table>
</body>
</html>
