<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Policy Mapping [Enterprise Service Manager]</title>
    <link rel="stylesheet" href="../css/l7.css" media="all" type="text/css" />
    <script type="text/javascript" src="../js/l7.js"></script>
</head>
<body>
<noscript><div class="javascriptWarning">This page requires JavaScript. Your browser either does not have JavaScript support or has disabled it.</div></noscript>
<table width="100%">
    <tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt="" /></td>
                        <td class="logo"><a href="Monitor.html"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc." /><img src="../images/esmLogo.png" alt="" /></a></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt="" /></td>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="middle nowrap">Logged in as "admin"<br />since May 5, 2008 05:57:54 PM</td>
                        <td class="middle"><form method="get" action="Login.html"><input type="submit" value="Log Out" /></form></td>
                        <td class="middle help"><a href="Help.html" target="l7-esm-help" title="Open help page in a separate window">Help</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
            <div>
                <table>
                    <tr>
                        <td id="tabLTManageGateways"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTManageGateways" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTManageGateways"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTManagePolicies"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTManagePolicies" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTManagePolicies"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTReports"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTReports" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTReports"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTTools"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTTools" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTTools"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTSettings"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTSettings" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTSettings"><img src="../images/tabRT.png" alt="" /></td>
                        <td><img src="../images/tabLT.png" alt="" /></td>
                        <td class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRT.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLMManageGateways" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMManageGateways" class="tabCM"><a href="Monitor.html">Manage Gateways</a></td>
                        <td id="tabRMManageGateways" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMManagePolicies" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMManagePolicies" class="tabCMon">Manage Policies</td>
                        <td id="tabRMManagePolicies" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMReports" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMReports" class="tabCM"><a href="StandardReports.html">Reports</a></td>
                        <td id="tabRMReports" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMTools" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMTools" class="tabCM"><a href="Messages.html">Tools</a></td>
                        <td id="tabRMTools" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMSettings" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMSettings" class="tabCM"><a href="UserSettings.html">Settings</a></td>
                        <td id="tabRMSettings" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabCM" width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLBManageGateways"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBManageGateways" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBManageGateways"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBManagePolicies"><img src="../images/tabLBon.png" alt="" /></td>
                        <td id="tabCBManagePolicies" class="tabCBon"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBManagePolicies"><img src="../images/tabRBon.png" alt="" /></td>
                        <td id="tabLBReports"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBReports" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBReports"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBTools"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBTools" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBTools"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBSettings"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBSettings" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBSettings"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td><img src="../images/tabLBoff.png" alt="" /></td>
                        <td class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRBoff.png" alt="" /></td>
                    </tr>
                </table>
            </div>
            <script language="JavaScript" type="text/javascript">
                l7.TabBar.initTab('ManageGateways');
                l7.TabBar.initTab('Reports');
                l7.TabBar.initTab('Tools');
                l7.TabBar.initTab('Settings');
            </script>
            <div class="subtabBar">
                <span class="subtabOff"><a href="PolicyMigration.html">Migration</a></span>
                |
                <span class="subtabOff"><a href="PolicySubmission.html">Submission</a></span>
                |
                <span class="subtabOff"><a href="PolicyApproval.html">Approval</a></span>
                |
                <span class="subtabOn">Mapping</span>
            </div>
            <div class="content">
                <wicket:extend>
                    <!--
                        Migration Selection controls
                    -->
                    <div class="panel">
                        <div class="panelTitle"><wicket:message key="label.migration.select">Migration Selection</wicket:message></div>
                        <div class="panelContent">
                            <form wicket:id="migrationSelectForm">
                                <table>
                                    <tr>
                                        <td><wicket:message key="label.start.date">Start Date</wicket:message>:</td>
                                        <td><div wicket:id="migrationStartSelector"/></td>
                                    </tr>
                                    <tr>
                                        <td><wicket:message key="label.end.date">End Date</wicket:message>:</td>
                                        <td><div wicket:id="migrationEndSelector"/></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td align="right">
                                            <button wicket:id="migrationSelectButton" type="submit"><wicket:message key="label.select">Select</wicket:message></button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>

                        <!--
                            Migration Record Table
                        -->
                        <div wicket:id="migrationTableContainer">
                            <div wicket:id="migrationTable"/>
                            <div class="panelContent">
                                <form wicket:id="deleteMigrationForm">
                                    <button id="deleteMigrationButton" type="button" wicket:id="deleteMigrationButton">
                                        <wicket:message key="button.delete"/>
                                    </button>
                                    <input name="migrationId" type="hidden" value="" wicket:id="migrationId"/>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--
                        Migration Details Panel
                    -->
                    <div wicket:id="migrationSummaryContainer">
                        <div class="panel">
                            <div class="panelTitle"><wicket:message key="label.migration.summary">Migrations Summary</wicket:message></div>
                            <div class="panelContent">
                                <table width="100%" height="100%">
                                   <tr>
                                       <td valign="top">
                                         <table width="98%">
                                             <tr>
                                                 <td>
                                                     <table>
                                                         <tr>
                                                             <th class="left"><wicket:message key="migration.column.name">Name</wicket:message>:</th>
                                                             <td>&nbsp;<span wicket:id="name"></span></td>
                                                         </tr>
                                                         <tr>
                                                             <th class="left"><wicket:message key="migration.column.time">Date</wicket:message>:</th>
                                                             <td>&nbsp;<span wicket:id="timeCreated"></span></td>
                                                         </tr>
                                                         <tr>
                                                             <th class="left"><wicket:message key="migration.from">From</wicket:message>:</th>
                                                             <td>&nbsp;<span wicket:id="sourceCluster"></span></td>
                                                         </tr>
                                                         <tr>
                                                             <th class="left"><wicket:message key="migration.to">To</wicket:message>:</th>
                                                             <td>&nbsp;<span wicket:id="targetCluster"></span></td>
                                                         </tr>
                                                     </table>
                                                 </td>
                                             </tr>
                                             <tr>
                                                 <td>
                                                     <div wicket:id="migrationSummaryTextarea"></div>
                                                 </td>
                                             </tr>
                                         </table>
                                       </td>
                                   </tr>
                               </table>
                            </div>
                        </div>
                    </div>

                    <!--
                        Dynamic Holder for warning dialog
                    -->
                    <div wicket:id="dynamic.holder">
                        <div wicket:id="dynamic.holder.content"/>
                    </div>
                </wicket:extend>
            </div>
            <div class="statusBar">
                <table>
                    <tr>
                        <td width="100%">Time Zone: Canada/Pacific (GMT-08:00/<b>-07:00</b>)</td>
                        <td><a class="nowrap" href="http://www.layer7tech.com" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
        </td>
    </tr>
</table>
</body>
</html>
