<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>SSG Cluster Content Multi Selector [Enterprise Service Manager]</title>
    <link rel="stylesheet" href="../css/l7.css" media="all" type="text/css" />

    <wicket:head>
    <!-- Required YUI modules: buton, connection, container, dom, event, json, logger, menu -->
    <link rel="stylesheet" type="text/css" href="../yui/assets/skins/sam/skin.css">
    <script type="text/javascript" src="../yui/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="../yui/connection/connection-min.js"></script>
    <script type="text/javascript" src="../yui/container/container-min.js"></script>
    <script type="text/javascript" src="../yui/menu/menu-min.js"></script>
    <script type="text/javascript" src="../yui/element/element-beta-min.js"></script>
    <script type="text/javascript" src="../yui/button/button-min.js"></script>
    <script type="text/javascript" src="../yui/json/json-min.js"></script>
    <script type="text/javascript" src="../yui/logger/logger-min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/l7-yui-skin.css"> <!-- modifies YUI sam skin; must come after YUI CSS files -->
    <script type="text/javascript" src="../js/l7.js"></script>
    <script type="text/javascript" src="../js/entityTreeTable.js"></script>
    <script type="text/javascript">
        /** Localized strings for passing into l7.EntityTreeTable constructor. */
        var entityTreeTableLocalizedStrings = {
            ENTITY_DATA_ERROR : 'Data error.',
            SERVICE_FOLDER : 'folder',
            PUBLISHED_SERVICE : 'published service',
            PUBLISHED_SERVICE_ALIAS : 'published service alias',
            OPERATION : 'operation',
            POLICY_FRAGMENT : 'policy fragment',
            POLICY_FRAGMENT_ALIAS : 'policy fragment alias'
        };

        /** Localized strings for local HTML markups, e.g., error dialogs. */
        var localizedStrings = {
            OK : 'OK',
            ERROR : 'Error',
            CANNOT_DOWNLOAD_ENTITY_DATA : 'Failed to get array of SSG Cluster entities from server: ',
            CANNOT_PARSE_ENTITY_DATA : 'Failed to parse array of SSG Cluster entities downloaded from server: '
        };
    </script>
    <script type="text/javascript">
        /**
         * The enterpries tree table object.
         * @type l7.EntityTreeTable
         */
        var entityTreeTable;

        /**
         * The TBODY element inside the entity tree table.
         * @type HTMLTableSectionElement
         */
        var entityTreeTableBody;

        /**
         * The current SSG Cluster object literal.
         * @type object
         */
        var currentSsgCluster = null;

        /**
         * @type string
         */
        var callbackId;

        /**
         * Callback function upon highlighting an SSG Cluster.
         * @type function(entity)
         */
        var entityHighlightedCallback;

        /**
         * @type array
         */
        var highlightableEntities;

        /**
         * Parent window should call this if it wants a callback identifier.
         * @param {string} id   an identifier to include when callback to parent's showSSGClusterContent function.
         */
        function setCallbackId(id) {
            callbackId = id;
        }

        function setHighlightableEntitiesAndCallback(types, fn) {
            highlightableEntities = types;
            entityHighlightedCallback = fn;
        }

        /**
         * Callback function upon an entity highlighted.
         * @param {object} previous     the previously highlighted entity object literal; null if none
         * @param {object} entity       the newly highlighted entity object literal
         */
        function onEntityHighlighted(previous, entity) {
            if (entityHighlightedCallback != undefined && entityHighlightedCallback != null) {
                entityHighlightedCallback(previous, entity, callbackId);
            }
        }

        /**
         * @return {l7.EntityTreeTable}
         */
        function getEntityTreeTable() {
            return entityTreeTable;
        }

        /**
         * @return {string} the current SSG Cluster object literal
         */
        function getSsgCluster() {
            return currentSsgCluster;
        }

        /**
         * (Re)loads the content of the entity tree table by fetching entity data from server.
         * To be called by parent frame.
         * @param {object} ssgCluster                       SSG Cluster object literal
         * @param {array} entitiesWithTristateCheckbox      entity types that should have checkbox
         * @param {array} entitiesWithRadioButton           entity types that should have radio button
         */
        function loadSsgClusterContent(ssgCluster, entitiesWithTristateCheckbox, entitiesWithRadioButton) {
            var callback = {
                success : function(o) {
                    var result = l7.Dialog.parseJSON(
                            o.responseText,
                            localizedStrings.ERROR,
                            '<p>' + l7.Util.escapeAsText(localizedStrings.CANNOT_DOWNLOAD_ENTITY_DATA) + '</p>',
                            localizedStrings.CANNOT_PARSE_ENTITY_DATA,
                            localizedStrings.OK);
                    if (typeof result == 'object' && !l7.Util.isException(result)) {
                        entityTreeTable.load(result);
                        entityTreeTable.collapseAll();
                    } else {
                        entityTreeTable.displayDataError();
                    }
                },
                failure : function(o) {
                    entityTreeTable.displayDataError();
                    l7.Dialog.showErrorDialog(localizedStrings.ERROR, localizedStrings.CANNOT_DOWNLOAD_ENTITY_DATA + o.statusText, localizedStrings.OK);
                }
            };
            entityTreeTable.clear();
            entityTreeTable.setHighlightableEntities(highlightableEntities);
            entityTreeTable.setEntitiesWithTristateCheckbox(entitiesWithTristateCheckbox);
            entityTreeTable.setEntitiesWithRadioButton(entitiesWithRadioButton);
            currentSsgCluster = ssgCluster;
            if (ssgCluster != null) {
                var postData = 'ssgClusterId=' + ssgCluster.id;
                YAHOO.util.Connect.asyncRequest('POST', clusterContentJasonUrl, callback, postData);
            }
        }

        /**
         * Initializes the enterprise tree table instance; but does not populate it.
         * Nor is there any tri-state checkbox, radio button, etc. Parent window
         * should call getEntityTreeTable() and add those elements that it needs.
         */
        function initEntityTreeTable() {
            var config = {
                localizedStrings : entityTreeTableLocalizedStrings,
                columns : [
                    l7.EntityTreeTable.COLUMN.NAME,
                    l7.EntityTreeTable.COLUMN.VERSION,
                    l7.EntityTreeTable.COLUMN.TYPE
                ],
                highlightableEntities : highlightableEntities,
                onEntityHighlighted : onEntityHighlighted
            };
            entityTreeTable = new l7.EntityTreeTable(entityTreeTableBody, [] /* no entities initially */, '../images', config);
        }

        function init() {
            entityTreeTableBody = document.getElementById('entityTreeTableBody');
            initEntityTreeTable();
        }

        YAHOO.util.Event.onDOMReady(init);
    </script>
    </wicket:head>
</head>
<body class="dataIFrame yui-skin-sam">
<table class="dataTable" width="100%">
    <thead>
        <tr>
            <th class="name" width="100%">Name<br /><img src="../images/spacer.png" alt="" height="0" width="140" /><!-- minimum width --></th>
            <th title="Version">Ver.</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody id="entityTreeTableBody">
    </tbody>
</table>
<div wicket:id="actiondiv"/>
</body>
</html>