<!--
  Standard Reports - Generated Reports
-->
<wicket:panel xmlns:wicket="http://wicket.apache.org/">

    <div class="panel">
        <div class="panelTitle tippy">
            <img id="outputTippy" class="tippy" src="../images/tippyExpanded.png" alt="" onclick="l7.Tippy.toggleTippy(this, 'outputDiv')" />
            <span class="clickable" onclick="l7.Tippy.toggleTippy('outputTippy', 'outputDiv')">Generated Reports</span>
            <img wicket:id="refresh" class="refresh clickableImg middle" src="../images/refresh.png" title="Refresh list of generated reports" alt="Refresh" />
        </div>
        <div id="outputDiv">

            <form wicket:id="form">
                <div class="panelToolbar">
                    Output Format:
                    <select>
                        <option>PDF</option>
                    </select>
                    <button wicket:id="viewReportButton" title="View Report">View</button>
                    <button wicket:id="deleteReportButton" title="Delete Report">Delete</button>
                    <input name="reportId" type="hidden" value="" wicket:id="reportId"/>
                </div>
            </form>

            <div wicket:id="tableContainer">
                <div wicket:id="reportTable"/>
            </div>
        </div>
    </div>

</wicket:panel>
