<!--
  Standard Reports - Generated Reports
-->
<wicket:panel xmlns:wicket="http://wicket.apache.org/">

    <div class="panel" style="height: 320px; overflow: hidden">
        <div class="panelTitle">
            Generated Reports
            <img wicket:id="refresh" class="refresh clickableImg middle" src="../images/refresh.png" title="Refresh list of generated reports" alt="Refresh" />
        </div>
        <div id="outputDiv">

            <form wicket:id="form">
                <div class="panelToolbar">
                    Output Format:
                    <select>
                        <option>PDF</option>
                    </select>
                    <button wicket:id="viewReportButton" title="View Report">View</button>
                    <button wicket:id="downloadReportButton" title="Download Report">Download</button>
                    <button wicket:id="deleteReportButton" title="Delete Report">Delete</button>
                    <input name="reportId" type="hidden" value="" wicket:id="reportId"/>
                </div>
            </form>

            <div wicket:id="tableContainer">
                <div wicket:id="reportTable"/>
            </div>
        </div>
        <div class="panelContent" style="height: 100%">&nbsp;</div>
    </div>

</wicket:panel>
