<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Submission Received [Enterprise Service Manager]</title>
    <link rel="stylesheet" href="../css/l7.css" media="all" type="text/css" />
    <script type="text/javascript" src="../js/l7.js"></script>
    <script type="text/javascript">
        /**
         * Name of the IFRAME in the parent document that is used for showing message.
         * When the radio button of a submission in here is selected, that IFRAME will be
         * populated accordingly.
         * Parent document should set this onload.
         */
        var messageIFrameName = null;

        function init() {
            // Blanks out the message IFRAME because no submission has been selected on load.
            parent.document.getElementById(messageIFrameName).src = '';
        }

        /**
         * Displays the submission message in the IFRAME in the parent document.
         *
         * @param radio     the radio button being clicked on
         */
        function showMessage(radio) {
            if (messageIFrameName != null) {
                var cell = radio.parentNode;
                var row = cell.parentNode;
                var submissionId = row.id;
                parent.document.getElementById(messageIFrameName).src =  'submission/' + submissionId + '/message.html';
            }
        }
    </script>
</head>
<body class="dataIFrame">
<table class="dataTable" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>Submisstion Time</th>
            <th>Sender</th>
            <th width="100%">Subject</th>
        </tr>
    </thead>
    <tr id="25ecfcf0-45a7-44c9-acfd-6eb91da77844">
        <td><input type="radio" name="submission" onclick="showMessage(this);" /></td>
        <td>2008-06-12 14:01:43</td>
        <td>bart [Bart Simpson]</td>
        <td>Sales service for Electricity</td>
    </tr>
    <tr id="6a28198d-7360-4949-9ca0-2bbb70701c2c">
        <td><input type="radio" name="submission" onclick="showMessage(this);" /></td>
        <td>2008-06-14 09:34:39</td>
        <td>bart [Bart Simpson]</td>
        <td>Stockpile service for Uranium</td>
    </tr>
</table>
</body>
</html>