<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>System Settings [SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" href="../css/site.css" media="all" type="text/css" />
    <script type="text/javascript" src="../js/site.js"></script>
</head>
<body>
<table width="100%">
    <tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt="" /></td>
                        <td class="logo"><a href="EnterpriseGateways.html"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc." /><img src="../images/emLogo.png" alt="" /></a></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt="" /></td>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="middle nowrap">Logged in as "admin"<br />since May 5, 2008 05:57:54 PM</td>
                        <td class="middle"><form method="get" action="Login.html"><input type="submit" value="Log Out" /></form></td>
                        <td class="middle help"><a href="Help.html" target="_blank" title="Open help page in a new window">Help</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
            <div>
                <table>
                    <tr>
                        <td id="tabLTEnterprise"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTEnterprise" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTEnterprise"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTPolicies"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTPolicies" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTPolicies"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTReports"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTReports" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTReports"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTBackup"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTBackup" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTBackup"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTTools"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTTools" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTTools"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTSettings"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTSettings" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTSettings"><img src="../images/tabRT.png" alt="" /></td>
                        <td><img src="../images/tabLT.png" alt="" /></td>
                        <td class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRT.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLMEnterprise" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMEnterprise" class="tabCM"><a href="EnterpriseGateways.html">Manage Enterprise</a></td>
                        <td id="tabRMEnterprise" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMPolicies" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMPolicies" class="tabCM"><a href="PolicyMigration.html">Manage Policies</a></td>
                        <td id="tabRMPolicies" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMReports" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMReports" class="tabCM"><a href="StandardReports.html">Reports</a></td>
                        <td id="tabRMReports" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMBackup" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMBackup" class="tabCM"><a href="Backup.html">Backup &amp; Restore</a></td>
                        <td id="tabRMBackup" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMTools" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMTools" class="tabCM"><a href="Messages.html">Tools</a></td>
                        <td id="tabRMTools" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMSettings" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMSettings" class="tabCMon">Settings</td>
                        <td id="tabRMSettings" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabCM" width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLBEnterprise"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBEnterprise" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBEnterprise"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBPolicies"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBPolicies" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBPolicies"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBReports"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBReports" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBReports"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBBackup"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBBackup" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBBackup"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBTools"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBTools" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBTools"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBSettings"><img src="../images/tabLBon.png" alt="" /></td>
                        <td id="tabCBSettings" class="tabCBon"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBSettings"><img src="../images/tabRBon.png" alt="" /></td>
                        <td><img src="../images/tabLBoff.png" alt="" /></td>
                        <td class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRBoff.png" alt="" /></td>
                    </tr>
                </table>
            </div>
            <script language="JavaScript" type="text/javascript">
                initTab('Enterprise');
                initTab('Policies');
                initTab('Reports');
                initTab('Backup');
                initTab('Tools');
            </script>
            <div class="subtabBar">
                <span class="subtabOff"><a href="UserSettings.html">User Settings</a></span>
                |
                <span class="subtabOn">System Settings</span>
            </div>
            <div class="content">
                <div class="panel">
                    <div class="panelTitle tippy"><img id="productInformationTippy" class="tippy" src="../images/tippyExpanded.png" alt="" onclick="toggleTippy(this, 'productInformation')" /><span class="clickable" onclick="toggleTippy('productInformationTippy', 'productInformation')">Product Information</span></div>
                    <div id="productInformation">
                        <div class="panelContent">
                            <table class="indent spaced">
                                <tr>
                                    <th>Version:</th>
                                    <td>1.0</td>
                                </tr>
                                <tr>
                                    <th>Build Number:</th>
                                    <td>1001</td>
                                </tr>
                                <tr>
                                    <th class="top">Copyright Notice:</th>
                                    <td class="top wrap">Copyright (c) 2008 by Layer 7 Technologies, Inc. All rights reserved. multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline multiline</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panelTitle tippy"><img id="systemInformationTippy" class="tippy" src="../images/tippyExpanded.png" alt="" onclick="toggleTippy(this, 'systemInformation')" /><span class="clickable" onclick="toggleTippy('systemInformationTippy', 'systemInformation')">System Information</span></div>
                    <div id="systemInformation">
                        <div class="panelContent">
                            <table class="indent spaced">
                                <tr>
                                    <th>Host Name:</th>
                                    <td>em.springfield.com</td>
                                </tr>
                                <tr>
                                    <th>Host IP:</th>
                                    <td>192.168.1.83</td>
                                </tr>
                                <tr>
                                    <th>Operating System:</th>
                                    <td>Linux amd64 2.6.9-55.EL</td>
                                </tr>
                                <tr>
                                    <th>JVM:</th>
                                    <td>Sun Microsystems Inc. Java HotSpot(TM) 64-Bit Server VM 10.0-b22</td>
                                </tr>
                                <tr>
                                    <th class="top">JVM Memory Usage:</th>
                                    <td class="top">
                                        <table>
                                            <tr>
                                                <td>total:</td>
                                                <td class="right">93196288 bytes</td>
                                            </tr>
                                            <tr>
                                                <td>free:</td>
                                                <td class="right">37579368 bytes</td>
                                            </tr>
                                            <tr>
                                                <td>maximum:</td>
                                                <td class="right">506855424 bytes</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Started:</th>
                                    <td>2008-05-11 9:23:13 AM</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panelTitle tippy"><img id="licenseTippy" class="tippy" src="../images/tippyExpanded.png" alt="" onclick="toggleTippy(this, 'license')" /><span class="clickable" onclick="toggleTippy('licenseTippy', 'license')">License</span></div>
                    <div id="license">
                        <div class="panelContent">
                            <h4>Current License</h4>
                            <table class="indent spaced">
                                <tr>
                                    <th>License Status:</th>
                                    <td>Valid</td>
                                </tr>
                                <tr>
                                    <th>License ID:</th>
                                    <td>4234874358435734587345</td>
                                </tr>
                                <tr>
                                    <th>Description:</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Attributes:</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Issuer:</th>
                                    <td>CN=License Officer, O=Layer 7 Technologies</td>
                                </tr>
                                <tr>
                                    <th>Licensee:</th>
                                    <td>Springfield Nuclear Power Plant</td>
                                </tr>
                                <tr>
                                    <th>Licensee Contact Email:</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Valid From:</th>
                                    <td>2008-05-01 12:00:01 AM</td>
                                </tr>
                                <tr>
                                    <th>Expires:</th>
                                    <td>2010-12-31 11:59:59 PM</td>
                                </tr>
                                <tr>
                                    <th class="top">Grants:</th>
                                    <td><textarea rows="3" cols="80">User of Layer 7 SecureSpan Enterprise Manager major version 1</textarea></td>
                                </tr>
                            </table>
                            <h4>Change License</h4>
                            <table class="indent spaced">
                                <tr>
                                    <th class="middle">New License File:</th>
                                    <td class="middle"><input name="licenseFile" type="file" size="40" /></td>
                                    <td class="middle"><input type="submit" value="Apply" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="statusBar">
                <table>
                    <tr>
                        <td width="100%">Time Zone: Canada/Pacific (GMT-08:00/<b>-07:00</b>)</td>
                        <td><a class="nowrap" href="http://www.layer7tech.com" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
        </td>
    </tr>
</table>
</body>
</html>
