<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>User Selector [SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" href="../css/l7.css" media="all" type="text/css" />
    <script type="text/javascript" src="../js/l7.js"></script>
</head>
<body class="dataIFrame">
<table class="dataTable" width="100%">
    <thead>
        <tr>
            <th></th>
            <th>User ID</th>
            <th width="100%">User Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input id="radio:2a34df91-d78e-45a8-9bb9-e30c9beda337" type="radio" name="userId" value="2a34df91-d78e-45a8-9bb9-e30c9beda337" /></td>
            <td>bart</td>
            <td>Bart Simpson</td>
        </tr>
        <tr>
            <td><input id="radio:d978bb7a-7cfd-4d89-8420-28d43f93081c" type="radio" name="userId" value="d978bb7a-7cfd-4d89-8420-28d43f93081c" /></td>
            <td>homer</td>
            <td>Homer Simpson</td>
        </tr>
        <tr>
            <td><input id="radio:8fa8f98c-9ba8-4d65-8a19-2b604cbbda7a" type="radio" name="userId" value="8fa8f98c-9ba8-4d65-8a19-2b604cbbda7a" /></td>
            <td>lisa</td>
            <td>Lisa Simpson</td>
        </tr>
        <tr>
            <td><input id="radio:a9ea99f3-7bbc-45c0-9668-3b0db3b57b4f" type="radio" name="userId" value="a9ea99f3-7bbc-45c0-9668-3b0db3b57b4f" /></td>
            <td>marge</td>
            <td>Marge Simpson</td>
        </tr>
    </tbody>
</table>
</body>
</html>