<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:wicket="http://wicket.apache.org/">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>User Settings [SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" type="text/css" href="../css/l7.css" />

    <!-- Required YUI modules: button, container, event -->
    <link rel="stylesheet" type="text/css" href="../yui/button/assets/skins/sam/button.css">
    <link rel="stylesheet" type="text/css" href="../yui/container/assets/skins/sam/container.css">
    <script type="text/javascript" src="../yui/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="../yui/element/element-beta-min.js"></script>
    <script type="text/javascript" src="../yui/button/button-min.js"></script>
    <script type="text/javascript" src="../yui/container/container-min.js"></script>

    <link rel="stylesheet" type="text/css" href="../css/l7-yui-skin.css" /> <!-- modifies YUI sam skin; must come after YUI CSS files -->
    <script type="text/javascript" src="../js/l7.js"></script>
    <script type="text/javascript">
        /** Localized header text for warning dialog. */
        var WARNING_DIALOG_HEADER = 'Warining';

        /** Localized text label for OK button. */
        var OK_BUTTON_TEXT = 'OK';

        /** Localized warning text for mismatched new passwords. */
        var NEW_PASSWORDS_MISMATCH = 'New passwords do not match.';

        /** YAHOO.widget.SimpleDialog for displaying warning messages. */
        var warningDialog;

        /** YAHOO.widget.Button for submitting user account info changes. */
        var changeAccountInfoButton;

        /** YAHOO.widget.Button for submitting UI preferences changes. */
        var uiPreferencesButton;

        YAHOO.util.Event.onContentReady('changePasswordButton', function() {
            new YAHOO.widget.Button('changePasswordButton');
        });

        // Client-side form data validation.
        YAHOO.util.Event.on('changePasswordForm', 'submit', function(p_oEvent) {
            var newPassword = document.getElementById('newPassword').value;
            var newPassword2 = document.getElementById('newPassword2').value;
            if (newPassword != newPassword2) {
                warningDialog.setBody(NEW_PASSWORDS_MISMATCH);
                warningDialog.show();
                YAHOO.util.Event.preventDefault(p_oEvent);
            }
        });

        YAHOO.util.Event.onContentReady('uiPreferencesButton', function() {
            uiPreferencesButton = new YAHOO.widget.Button('uiPreferencesButton');
        });

        YAHOO.util.Event.onContentReady('changeAccountInfoButton', function() {
            changeAccountInfoButton = new YAHOO.widget.Button('changeAccountInfoButton');
        });

        function init() {
            warningDialog = new YAHOO.widget.SimpleDialog("warningDialog", {
                close       : true,
                buttons     : [{text:OK_BUTTON_TEXT, handler:function(){this.hide()}, isDefault:true}],
                draggable   : false,
                fixedcenter : true,
                icon        : YAHOO.widget.SimpleDialog.ICON_WARN,
                modal       : true,
                visible     : false,
                width       : '20em'    // Must be set to work in IE7.
            });
            warningDialog.setHeader(WARNING_DIALOG_HEADER);
            warningDialog.render(document.body);
        }
    </script>
</head>
<body class="yui-skin-sam" onload="init();">
<noscript><div class="javascriptWarning">This page requires JavaScript. Your browser either does not have JavaScript support or has disabled it.</div></noscript>
<table width="100%">
    <tr>
        <td>
            <div class="header">
                <table width="100%">
                    <tr class="header">
                        <td class="logoLeft"><img src="../images/logoLeft.png" alt="" /></td>
                        <td class="logo"><a href="Monitor.html"><img src="../images/l7Logo.png" alt="Layer 7 Technologies Inc." /><img src="../images/emLogo.png" alt="" /></a></td>
                        <td class="logoRight"><img src="../images/logoRight.png" alt="" /></td>
                        <td width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="middle nowrap">Logged in as "admin"<br />since May 5, 2008 05:57:54 PM</td>
                        <td class="middle"><form method="get" action="Login.html"><input type="submit" value="Log Out" /></form></td>
                        <td class="middle help"><a href="Help.html" target="_blank" title="Open help page in a new window">Help</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
            <div>
                <table>
                    <tr>
                        <td id="tabLTManageGateways"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTManageGateways" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTManageGateways"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTManagePolicies"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTManagePolicies" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTManagePolicies"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTReports"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTReports" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTReports"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTTools"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTTools" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTTools"><img src="../images/tabRT.png" alt="" /></td>
                        <td id="tabLTSettings"><img src="../images/tabLT.png" alt="" /></td>
                        <td id="tabCTSettings" class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRTSettings"><img src="../images/tabRT.png" alt="" /></td>
                        <td><img src="../images/tabLT.png" alt="" /></td>
                        <td class="tabCT"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRT.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLMManageGateways" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMManageGateways" class="tabCM"><a href="Monitor.html">Manage Gateways</a></td>
                        <td id="tabRMManageGateways" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMManagePolicies" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMManagePolicies" class="tabCM"><a href="PolicyMigration.html">Manage Policies</a></td>
                        <td id="tabRMManagePolicies" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMReports" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMReports" class="tabCM"><a href="StandardReports.html">Reports</a></td>
                        <td id="tabRMReports" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMTools" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMTools" class="tabCM"><a href="Messages.html">Tools</a></td>
                        <td id="tabRMTools" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabLMSettings" class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabCMSettings" class="tabCMon">Settings</td>
                        <td id="tabRMSettings" class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabLM"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabCM" width="100%"><img src="../images/spacer.png" alt="" /></td>
                        <td class="tabRM"><img src="../images/spacer.png" alt="" /></td>
                    </tr>
                    <tr>
                        <td id="tabLBManageGateways"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBManageGateways" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBManageGateways"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBManagePolicies"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBManagePolicies" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBManagePolicies"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBReports"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBReports" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBReports"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBTools"><img src="../images/tabLBoff.png" alt="" /></td>
                        <td id="tabCBTools" class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBTools"><img src="../images/tabRBoff.png" alt="" /></td>
                        <td id="tabLBSettings"><img src="../images/tabLBon.png" alt="" /></td>
                        <td id="tabCBSettings" class="tabCBon"><img src="../images/spacer.png" alt="" /></td>
                        <td id="tabRBSettings"><img src="../images/tabRBon.png" alt="" /></td>
                        <td><img src="../images/tabLBoff.png" alt="" /></td>
                        <td class="tabCBoff"><img src="../images/spacer.png" alt="" /></td>
                        <td><img src="../images/tabRBoff.png" alt="" /></td>
                    </tr>
                </table>
            </div>
            <script language="JavaScript" type="text/javascript">
                l7.TabBar.initTab('ManageGateways');
                l7.TabBar.initTab('ManagePolicies');
                l7.TabBar.initTab('Reports');
                l7.TabBar.initTab('Tools');
            </script>
            <div class="subtabBar">
                <span class="subtabOn">User Settings</span>
                |
                <span class="subtabOff"><a href="SystemSettings.html">System Settings</a></span>
                |
                <span class="subtabOff"><a href="EnterpriseUsers.html">User Accounts</a></span>
            </div>
            <div class="content">
                <wicket:extend>                
                <div class="panel">
                    <div class="panelTitle"><wicket:message key="label.changepass">Change Password</wicket:message></div>
                    <div class="panelContent">
                        <div wicket:id="feedback" class="center"/>
                        <form action="UserSettings.html" method="post" wicket:id="passwordForm">
                        <table class="indent spaced">
                            <tr>
                                <th><wicket:message key="label.oldpass">Old Password:</wicket:message></th>
                                <td><input id="oldPassword" name="oldPassword" type="password" wicket:id="password"/></td>
                            </tr>
                            <tr>
                                <th><wicket:message key="label.newpass">New Password:</wicket:message></th>
                                <td><input id="newPassword" name="newPassword" type="password" wicket:id="newPassword"/></td>
                            </tr>
                            <tr>
                                <th><wicket:message key="label.newpass2">Retype New Password:</wicket:message></th>
                                <td><input id="newPassword2" name="newPassword2" type="password" wicket:id="newPasswordConfirm"/></td>
                            </tr>
                        </table>
                        <input type="submit" value="Apply" wicket:message="value:label.apply"/>
                        </form>
                    </div>
                </div>
                <div class="panel">
                    <div class="panelTitle"><wicket:message key="label.prefs">User Interface Preferences</wicket:message></div>
                    <div class="panelContent">
                        <form action="UserSettings.html" method="post" wicket:id="preferencesForm">
                        <table class="indent spaced">
                            <tr>
                                <th><wicket:message key="label.timezone">Time Zone:</wicket:message></th>
                                <td><select id="timeZone" wicket:id="timezone">
                                    <option value="ACT">ACT (GMT+09:30)</option>
                                    <option value="AET">AET (GMT+10:00/+11:00)</option>
                                    <option value="AGT">AGT (GMT-03:00)</option>
                                    <option value="ART">ART (GMT+02:00/+03:00)</option>
                                    <option value="AST">AST (GMT-09:00/-08:00)</option>
                                    <option value="Africa/Abidjan">Africa/Abidjan (GMT+00:00)</option>
                                    <option value="Africa/..."> ... </option>
                                    <option value="PLT">PLT (GMT+05:00)</option>
                                    <option value="PNT">PNT (GMT-07:00)</option>
                                    <option value="PRC">PRC (GMT+08:00)</option>
                                    <option value="PRT">PRT (GMT-04:00)</option>
                                    <option value="PST">PST (GMT-08:00/-07:00)</option>
                                    <option value="PST8PDT">PST8PDT (GMT-08:00/-07:00)</option>
                                    <option value="PST..."> ... </option>
                                    <option value="UCT">UCT (GMT+00:00)</option>
                                    <option value="US/Alaska">US/Alaska (GMT-09:00/-08:00)</option>
                                    <option value="US/Aleutian">US/Aleutian (GMT-10:00/-09:00)</option>
                                    <option value="US/Arizona">US/Arizona (GMT-07:00)</option>
                                    <option value="US/Central">US/Central (GMT-06:00/-05:00)</option>
                                    <option value="US/East-Indiana">US/East-Indiana (GMT-05:00/-04:00)</option>
                                    <option value="US/Eastern">US/Eastern (GMT-05:00/-04:00)</option>
                                    <option value="US/Hawaii">US/Hawaii (GMT-10:00)</option>
                                    <option value="US/Indiana-Starke">US/Indiana-Starke (GMT-06:00/-05:00)</option>
                                    <option value="US/Michigan">US/Michigan (GMT-05:00/-04:00)</option>
                                    <option value="US/Mountain">US/Mountain (GMT-07:00/-06:00)</option>
                                    <option value="US/Pacific">US/Pacific (GMT-08:00/-07:00)</option>
                                    <option value="US/Pacific-New">US/Pacific-New (GMT-08:00/-07:00)</option>
                                    <option value="US/Samoa">US/Samoa (GMT-11:00)</option>
                                    <option value="UTC">UTC (GMT+00:00)</option>
                                    <option value="Universal">Universal (GMT+00:00)</option>
                                    <option value="VST">VST (GMT+07:00)</option>
                                    <option value="W-SU">W-SU (GMT+03:00/+04:00)</option>
                                    <option value="WET">WET (GMT+00:00/+01:00)</option>
                                    <option value="Zulu">Zulu (GMT+00:00)</option>
                                </select></td>
                            </tr>
                            <tr>
                                <th><wicket:message key="label.dateformat">Date Format:</wicket:message></th>
                                <td><select id="dateFormat" wicket:id="dateformat">
                                    <option value="YYYYMMDD" selected="selected">2010-01-31</option>
                                    <option value="MMMDDYYYY">Jan 31, 2010</option>
                                </select></td>
                            </tr>
                            <tr>
                                <th><wicket:message key="label.timeformat">Time Format:</wicket:message></th>
                                <td><select id="timeFormat" wicket:id="timeformat">
                                    <option value="24h" selected="selected">13:00:00</option>
                                    <option value="12h">01:00:00 PM</option>
                                </select></td>
                            </tr>
                            <tr>
                                <th><wicket:message key="label.startview">Start Up View:</wicket:message></th>
                                <td><select id="startupView"  wicket:id="startview">
                                    <optgroup label="Manage Gateways">
                                        <option value="Monitor">Monitor</option>
                                        <option value="Control">Configure</option>
                                        <option value="Backup">Backup</option>
                                        <option value="Restore">Restore</option>
                                    </optgroup>
                                    <optgroup label="Manage Policies">
                                        <option value="PolicyMigration">Migration</option>
                                        <option value="PolicySubmission">Submission</option>
                                        <option value="PolicyApproval">Approval</option>
                                    </optgroup>
                                    <optgroup label="Reports">
                                        <option value="StandardReports">Standard Reports</option>
                                    </optgroup>
                                    <optgroup label="Tools">
                                        <option value="Messages">Messages</option>
                                        <option value="Audits">Audits</option>
                                        <option value="Logs">Logs</option>
                                    </optgroup>
                                    <optgroup label="Settings">
                                        <option value="UserSettings">User Settings</option>
                                        <option value="SystemSettings">System Settings</option>
                                        <option value="UserAccounts">User Accounts</option>
                                    </optgroup>
                                    <option value="lastView" selected="selected">[Last Visited View]</option>
                                </select></td>
                            </tr>
                        </table>
                        <input type="submit" value="Apply" wicket:message="value:label.apply"/>
                        </form>
                    </div>
                </div>
                </wicket:extend>
            </div>
            <div class="statusBar">
                <table>
                    <tr>
                        <td width="100%">Time Zone: Canada/Pacific (GMT-08:00/<b>-07:00</b>)</td>
                        <td><a class="nowrap" href="http://www.layer7tech.com" target="_blank">Layer 7 Technologies Inc.</a></td>
                    </tr>
                </table>
            </div>
            <div class="divider"><img src="../images/spacer.png" alt="" /></div>
        </td>
    </tr>
</table>
</body>
</html>
