<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns:wicket="http://wicket.apache.org/">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>  
      <wicket:head>
        <style type="text/css">
            .dateselector-container .bd:after {content:".";display:block;clear:left;height:0;visibility:hidden;}
            .dateselector-container .bd {padding:0;}
            .dateselector-calendar {border:none;padding:1em}
            .dateselector input, .dateselector {vertical-align:middle}
            .dateselector input {width:17em}
        </style>
      </wicket:head>
      <wicket:panel>
        <div class="dateselector">
            <input wicket:id="date" name="date" type="text" value="" maxlength="10"/>
        </div>
          
        <div style="visibility:hidden;">
            <div wicket:id="calendar" class="dateselector-container">
                <div class="bd">
                    <div wicket:id="calendar-body" class="dateselector-calendar"/>
                </div>
           </div>
        </div>
          
        <script wicket:id="javascript" type="text/javascript"/>
      </wicket:panel>
  </body>
</html>
