<!--
  YUI Dialog component
-->
<html>
  <head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="build/fonts/fonts-min.css" />
    <link rel="stylesheet" type="text/css" href="build/button/assets/skins/sam/button.css" />
    <link rel="stylesheet" type="text/css" href="build/container/assets/skins/sam/container.css" />
    <script type="text/javascript" src="build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="build/connection/connection-min.js"></script>
    <script type="text/javascript" src="build/element/element-beta-min.js"></script>
    <script type="text/javascript" src="build/button/button-min.js"></script>
    <script type="text/javascript" src="build/dragdrop/dragdrop-min.js"></script>
    <script type="text/javascript" src="build/container/container-min.js"></script>
    
  </head>
  <body>
    <wicket:panel>
     <div style="visibility: hidden">
      <div wicket:id="dialog">
          <div class="hd"><span wicket:id="title">Dialog Title</span></div>
          <div class="bd">
            <div wicket:id="feedback"></div>
            <div wicket:id="content"></div>
          </div>
      </div>

      <!-- hidden wicket submit buttons, should use a repeater here -->
      <button wicket:id="okButton" type="button"><wicket:message key="label.ok">Ok</wicket:message></button>
      <button wicket:id="cancelButton" type="button"><wicket:message key="label.cancel">Cancel</wicket:message></button>
      <button wicket:id="yesButton" type="button"><wicket:message key="label.yes">Yes</wicket:message></button>
      <button wicket:id="noButton" type="button"><wicket:message key="label.no">No</wicket:message></button>
      <button wicket:id="closeButton" type="button"><wicket:message key="label.close">Close</wicket:message></button>
      <form wicket:id="dialogDefaultForm">              
      </form>      
      <script wicket:id="javascript" type="text/javascript"/>
     </div>
    </wicket:panel>
  </body>
</html>

