/*
This stylesheet overrides specific YUI SAM skin elements.
Include this stylesheet after original YUI SAM skin stylesheets.
*/

.yui-skin-sam .yui-button button,.yui-skin-sam .yui-button a {
    padding: 0 3px;
}

.yui-skin-sam .yuimenuitemlabel-disabled img {
    opacity: 0.5;
    *filter: alpha(opacity=50);
}

.yui-skin-sam .yui-dt table {
    border-collapse: collapse;
}

.yui-skin-sam .yui-dt th {
    background: #dbd3b0;
    border: 1px #bfb173 solid;
}

.yui-skin-sam .yui-dt th, .yui-skin-sam .yui-dt th a {
    font-weight: bold;
}

.yui-skin-sam .yui-dt td {
    border: 1px #cccccc solid;
    vertical-align: top;
}

.yui-skin-sam .yui-dt-liner {
    padding: 2px 7px 2px 7px;
}

.yui-skin-sam tr.yui-dt-even {
    background-color: #eeeeee;
}

.yui-skin-sam tr.yui-dt-odd {
    background-color: #eeeeee;
}

.yui-skin-sam tr.yui-dt-even td.yui-dt-asc, .yui-skin-sam tr.yui-dt-even td.yui-dt-desc {
    background-color: #eeeeee;
}

.yui-skin-sam tr.yui-dt-odd td.yui-dt-asc, .yui-skin-sam tr.yui-dt-odd td.yui-dt-desc {
    background-color: #eeeeee;
}

.yui-skin-sam th.yui-dt-highlighted, .yui-skin-sam th.yui-dt-highlighted a {
    background-color: #f5f9d4;
}

.yui-skin-sam tr.yui-dt-highlighted, .yui-skin-sam tr.yui-dt-highlighted td.yui-dt-asc, .yui-skin-sam tr.yui-dt-highlighted td.yui-dt-desc, .yui-skin-sam tr.yui-dt-even td.yui-dt-highlighted, .yui-skin-sam tr.yui-dt-odd td.yui-dt-highlighted {
    background-color: #f5f9d4;
}

.yui-skin-sam tr.yui-dt-selected td, .yui-skin-sam tr.yui-dt-selected td.yui-dt-asc, .yui-skin-sam tr.yui-dt-selected td.yui-dt-desc {
    background-color: #ffddee;
    color: #000000;
}

.yui-skin-sam .yui-pg-container, .yui-skin-sam .yui-dt-paginator {
    margin: 0;
    text-align: center;
}

.yui-skin-sam .yui-pg-container *, .yui-skin-sam .yui-dt-paginator * {
    vertical-align: middle;
}

.yui-skin-sam .yui-pg-container img, .yui-skin-sam .yui-dt-paginator img {
    border: 1px solid transparent;
}

.yui-skin-sam .yui-pg-container a img:hover, .yui-skin-sam .yui-dt-paginator a img:hover {
    border: 1px solid #7d98b8;
    background-color: #e6f1ff;
}

.yui-skin-sam .yui-pg-current, .yui-skin-sam .yui-pg-rpp-options {
    margin-right: 0.3em;
    margin-left: 0.3em;
}
