<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="dbcpJdbcExtractor" class="org.springframework.jdbc.support.nativejdbc.CommonsDbcpNativeJdbcExtractor"/>

    <bean id="oracleLobHandler" class="org.springframework.jdbc.support.lob.OracleLobHandler">
        <property name="nativeJdbcExtractor"><ref bean="dbcpJdbcExtractor"/></property>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate.LocalSessionFactoryBean">
        <property name="lobHandler">
            <ref bean="oracleLobHandler"/>
        </property>

        <property name="mappingResources">
            <list>
                <value>SSG.hbm.xml</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">net.sf.hibernate.dialect.Oracle9Dialect</prop>
                <!--
                <prop key="hibernate.dialect">net.sf.hibernate.dialect.OracleDialect</prop>
                -->
                <prop key="hibernate.query.substitutions">true 1, false 0, yes 'Y', no 'N'</prop>

                <prop key="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</prop>
                <prop key="hibernate.connection.url">jdbc:oracle:thin:@ora9i:1521:ssg</prop>
                <prop key="hibernate.connection.username">gateway</prop>
                <prop key="hibernate.connection.password">layer7</prop>

                <prop key="hibernate.dbcp.validationQuery">SELECT 1 FROM DUAL</prop>
                <prop key="hibernate.dbcp.testOnBorrow">true</prop>
                <prop key="hibernate.dbcp.testOnReturn">true</prop>

                <prop key="hibernate.dbcp.maxActive">100</prop>
                <prop key="hibernate.dbcp.maxIdle">10</prop>
                <prop key="hibernate.dbcp.maxWait">120000</prop>
                <prop key="hibernate.dbcp.whenExhaustedAction">1</prop>

                <prop key="hibernate.dbcp.ps.maxActive">100</prop>
                <prop key="hibernate.dbcp.ps.maxIdle">100</prop>
                <prop key="hibernate.dbcp.ps.maxWait">120000</prop>
                <prop key="hibernate.dbcp.ps.whenExhaustedAction">1</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="hibernatePersistenceManager" class="com.l7tech.objectmodel.HibernatePersistenceManager">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>
</beans>
