<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<!-- The ssg (aka UneasyRooster) web application DD -->
<web-app>
    <display-name>Layer7 Secure Span Gateway</display-name>

    <!--
    Map all requests that would otherwise be 404s to the SOAP servlet, for
    transparency purposes
    -->
    <filter>
        <filter-name>namespace</filter-name>
        <filter-class>com.l7tech.server.transport.http.HttpNamespaceFilter</filter-class>
        <init-param>
            <param-name>passthroughPrefixes</param-name>
            <param-value>/, /ssg, /classserver, /index.html, result.xml</param-value>
        </init-param>

    </filter>

    <filter-mapping>
        <filter-name>namespace</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>                                            

    <!-- class servlet registered frst, in case boot process requires it -->
    <servlet>
        <servlet-name>ClassServerServlet</servlet-name>
        <servlet-class>com.l7tech.remote.jini.export.ClassServerServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- ssg boot servlet properties -->
    <servlet>
        <servlet-name>boot</servlet-name>
        <servlet-class>com.l7tech.server.BootServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ping</servlet-name>
        <servlet-class>com.l7tech.server.PingServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PolicyServlet</servlet-name>
        <servlet-class>com.l7tech.server.policy.PolicyServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CSRServlet</servlet-name>
        <servlet-class>com.l7tech.server.identity.cert.CSRHandler</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SoapMessageProcessingServlet</servlet-name>
        <servlet-class>com.l7tech.server.SoapMessageProcessingServlet</servlet-class>

        <init-param>
            <param-name>PolicyServletUri</param-name>
            <param-value>/ssg/policy/disco.modulator?serviceoid=</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>RegistrarServlet</servlet-name>
        <servlet-class>com.l7tech.remote.jini.lookup.RegistrarLookupServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WsdlProxy</servlet-name>
        <servlet-class>com.l7tech.server.WsdlProxyServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>TokenService</servlet-name>
        <servlet-class>com.l7tech.server.TokenServiceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PasswdService</servlet-name>
        <servlet-class>com.l7tech.server.PasswdServlet</servlet-class>
    </servlet>

    <!-- Axis servlet properties -->
    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-class>
          org.apache.axis.transport.http.AxisServlet
        </servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <display-name>Axis Admin Servlet</display-name>
        <servlet-class>
          org.apache.axis.transport.http.AdminServlet
        </servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>
    
    <!-- WebStart servlet -->
    <servlet>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <servlet-class>com.sun.javaws.servlet.JnlpDownloadServlet</servlet-class>
    </servlet>

    <!--
    <servlet>
           <servlet-name>StatusPing</servlet-name>
           <servlet-class>com.l7tech.server.StatusPingServlet</servlet-class>
    </servlet>
    -->

    <servlet-mapping>
        <servlet-name>SoapMessageProcessingServlet</servlet-name>
        <url-pattern>/ssg/servlet/soap</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SoapMessageProcessingServlet</servlet-name>
        <url-pattern>/ssg/soap</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ping</servlet-name>
        <url-pattern>/ssg/ping</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/ssg/servlet/AxisServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PolicyServlet</servlet-name>
        <!--
        NB: Update the PolicyServletUri <init-param> in the SoapMessageProcessingServlet
        above when you change this <url-pattern>!
        -->
        <url-pattern>/ssg/policy/disco.modulator/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CSRServlet</servlet-name>
        <url-pattern>/ssg/csr/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegistrarServlet</servlet-name>
        <url-pattern>/ssg/registrar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ClassServerServlet</servlet-name>
        <url-pattern>/classserver/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WsdlProxy</servlet-name>
        <url-pattern>/ssg/wsdl</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PasswdService</servlet-name>
        <url-pattern>/ssg/passwd</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WsdlProxy</servlet-name>
        <url-pattern>/ssg/wsil</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>TokenService</servlet-name>
        <url-pattern>/ssg/token</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/ssg/services/*</url-pattern>
    </servlet-mapping>

    <!--
        ** uncomment this if you want the admin servlet
        ** todo: probably should be disabled - em08012004
    -->
    <!-- -->
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/ssg/servlet/AdminServlet</url-pattern>
    </servlet-mapping>

    <!--
    <servlet-mapping>
       <servlet-name>StatusPing</servlet-name>
       <url-pattern>/status</url-pattern>
    </servlet-mapping>
    -->

    <!-- WebStart servlet mapping -->

    <servlet-mapping>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <url-pattern>*.jnlp</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.jws</welcome-file>
    </welcome-file-list>

    <!-- enforce SSL in the admin Web Service -->
    <!-- uncomment security-constraint and login-config to enable   -->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Service Registrar</web-resource-name>
            <url-pattern>/ssg/registrar</url-pattern>
        </web-resource-collection>

        <user-data-constraint>
            <description>SSL required</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <!-- uncomment login-config to enable (currently not used)
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name></realm-name>
    </login-config> -->

    <env-entry>
        <description>List of concrete ServiceResolver implementations</description>
        <env-entry-name>ServiceResolvers</env-entry-name>
        <env-entry-value>
            com.l7tech.server.service.resolution.SoapActionResolver
            com.l7tech.server.service.resolution.UrnResolver
            com.l7tech.server.service.resolution.HttpUriResolver
        </env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>

</web-app>
