body { font-family:arial; background-color:#ffffff;  }
h1 { font-weight:bold; color:#0000ff; margin-top:5pt; margin-bottom:9.5pt; font-family:arial, sans-serif; font-size:14pt;  }
li.kadov-h1 { font-weight:bold; color:#0000ff; font-family:arial, sans-serif; font-size:14pt;  }
h2 { font-weight:bold; color:#000080; margin-bottom:5pt; font-family:arial, sans-serif; font-size:13pt; margin-top:12pt;  }
li.kadov-h2 { font-weight:bold; color:#000080; font-family:arial, sans-serif; font-size:13pt;  }
h3 { font-weight:bold; margin-top:5pt; font-family:arial, sans-serif; font-size:12pt; margin-left:0pt; margin-bottom:0pt;  }
li.kadov-h3 { font-weight:bold; font-family:arial, sans-serif; font-size:12pt;  }
h4 { font-size:12.0pt; font-style:italic; font-weight:normal; margin-top:3pt; margin-bottom:0pt;  }
li.kadov-h4 { font-size:12.0pt; font-style:italic; font-weight:normal;  }
h5 { font-weight:bold; font-size:10.0pt;  }
li.kadov-h5 { font-weight:bold; font-size:10.0pt;  }
h6 { font-weight:bold; font-size:8.0pt;  }
li.kadov-h6 { font-weight:bold; font-size:8.0pt;  }
p { margin-top:0pt; margin-bottom:4.5pt; font-family:arial, sans-serif; font-size:12pt;  }
li.kadov-p { font-family:arial, sans-serif; font-size:12pt;  }
a.expandspot { color:#008000; cursor:hand; font-style:italic; x-text-underline:off; x-text-overline:off; x-text-line-through:off; text-decoration:none none none;  }
span.expandtext { font-style:italic; font-weight:normal; color:#ff0000;  }
a.dropspot { cursor:hand; color:#008000; font-style:italic; x-text-underline:off; x-text-overline:off; x-text-line-through:off; text-decoration:none none none;  }
a.glossterm { color:#800000; cursor:hand; font-style:italic; x-text-underline:off; x-text-overline:off; x-text-line-through:off; text-decoration:none none none;  }
span.glosstext { font-style:italic; font-weight:normal; color:#0000ff;  }
ol { margin-top:0px; margin-bottom:0px;  }
ul { margin-top:0px; margin-bottom:0px;  }
p.note { margin-top:5pt; margin-bottom:5pt; font-weight:normal; font-style:normal; margin-left:20pt; margin-right:20pt;  }
li.kadov-p-cnote { font-weight:normal; font-style:normal;  }
p.procedure { font-weight:bold; font-style:normal; margin-bottom:3pt; font-size:12pt; margin-top:12pt; margin-left:20pt;  }
li.kadov-p-cprocedure { font-weight:bold; font-style:normal; font-size:12pt;  }
p.numbered { margin-bottom:0pt; list-style:decimal; margin-left:0pt;  }
li.kadov-p-cnumbered { list-style:decimal;  }
p.notenumbered { margin-left:54pt; margin-top:3pt; margin-bottom:3pt;  }
li.kadov-p-cnotenumbered {  }
