@charset
'utf-8'
;

/********************************************************************************
 * Universal Selectors
 ********************************************************************************/

* {
    border: 0;
    margin: 0;
    padding: 0;
}

/********************************************************************************
 * Element Selectors
 ********************************************************************************/

body, td, p, input, option, select, textarea, pre {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #808080;
    font-size: 75%; /* that's 12px */
}

a:link, a:active, a:visited {
    color: #1144BB;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1.5em;
    margin: 0.5em 0;
}

h2 {
    font-size: 1.33em;
    margin: 0.5em 0;
}

h3 {
    font-size: 1.17em;
    margin: 0.5em 0;
}

h4 {
    font-size: 1em;
}

input, select {
    border: 1px #606060 solid;
}

button, input[type='button'], input[type='submit'] {
    background-color: #665d3c;
    border: 1px #ffffff solid;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin: 3px 8px 3px 8px;
    padding: 1px 3px 1px 3px;
}

button:hover, input[type='button']:hover, input[type='submit']:hover {
    background-color: #be9422;
}

button:focus, input[type='button']:focus, input[type='submit']:focus {
    outline: 1px black solid;
}

button * {
    vertical-align: middle;
}

button[disabled] img {
    opacity: 0.5;
    *filter: alpha(opacity=50);
}

input[type='text'], input[type='password'] {
    font-size: 1em;
    padding-left: 4px;
    padding-right: 4px;
}

input[type='checkbox'], input[type='radio'] {
    border: none;
    vertical-align: middle;
}

textarea {
    border: 1px #606060 solid;
    font-size: 1em;
    padding: 2px 4px 2px 4px;
}

table {
    border-collapse: collapse;
}

/********************************************************************************
 * Class, Attribute, and Pseudo Selectors
 ********************************************************************************/

.top {
    vertical-align: top !important;
}

.middle {
    vertical-align: middle !important;
}

.bottom {
    vertical-align: bottom !important;
}

.left {
    text-align: left !important;
}

.center {
    text-align: center !important;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

.right {
    text-align: right !important;
}

td > .tdRight {
    text-align: right !important;
}

.hidden {
    display: none !important;
}

.indent {
    margin-left: 10px;
}

.wrap {
    white-space: normal !important;
}

.nowrap {
    white-space: nowrap !important;
}

.clickable {
    cursor: pointer;
}

.clickableImg {
    border: 1px solid transparent;
    cursor: pointer;
}

.clickableImg:hover {
    border: 1px solid #7d98b8;
    background-color: #e6f1ff;
}

input[type='text'].invalid {
    background-color: #ffff00 !important;
}

.red {
    color: #ff0000 !important;
}

/*
.hasTooltip {
    cursor: url('../images/tooltip.cur'), help;
}
*/

.hasTooltip:hover {
    background-color: #c1e8ff;
}

.noBackground {
    background: none !important;
}

.noBorder {
    border: none !important;
}

.noCursor {
    cursor: default !important;
}

.noPadding {
    padding: 0 0 0 0 !important;
}

.smallPadding {
    padding: 4px !important;
}

.noMargin {
    margin: 0 0 0 0 !important;
}

.unselected {
    opacity: 0.2;
    *filter: alpha(opacity=20);
}

.disabled {
    cursor: auto !important;
    opacity: 0.2;
    *filter: alpha(opacity=20);
}

.modified {
    background-color: #ffffe4;
}

.mixedStateCheckbox {
    opacity: 0.4;
    *filter: alpha(opacity=40);
}

.page {
    width: 100%;
}

div.header {
    background-color: #d6d6d6;
    background-image: url('../images/header.png' );
    background-repeat: repeat-x;
    padding: 0 10px 0 10px;
}

.titleBar {
    background-color: #d6d6d6;
    color: #433e29;
    font-weight: bold;
    padding: 4px 10px 4px 10px;
    text-align: center;
    white-space: nowrap;
}

.logo {
    background-image: url('../images/logoBack.png');
    background-repeat: repeat-x;
    vertical-align: top;
    white-space: nowrap;
}

.logo img {
    vertical-align: top;
}

.logoLeft {
    vertical-align: top;
}

.logoRight {
    padding: 0 10px 0 0;
    vertical-align: top;
}

div.fineRule {
    border-bottom: 1px solid #808080;
    border-top: 1px solid #e0e0e0;
    margin: 10px 0;
    padding: 0;
}

.divider {
    background-image: url('../images/divider.png');
    background-repeat: repeat-x;
    height: 6px;
    width: 100%;
}

.help {
    font-weight: bold;
}

/* Each tab in the tab bar is carved up into 9 tiles.
   Abbrevations:
       L = Left, C = Center, R = Right
       T = Top, M = Middle, B = Bottom
       on  = active state, off = inactive state, over = inactive mouse-over state
*/
.tabCT {
    background-image: url('../images/tabCT.png');
    background-repeat: repeat-x;
}

.tabCTover {
    background-image: url('../images/tabCTover.png');
    background-repeat: repeat-x;
}

.tabLM {
    background-image: url('../images/tabLM.png');
    background-repeat: repeat-y;
}

.tabLMover {
    background-image: url('../images/tabLMover.png');
    background-repeat: repeat-y;
}

.tabCM, .tabCMon, .tabCMover {
    font-weight: bold;
    padding: 3px 5px 2px 5px;
    white-space: nowrap;
}

.tabCM {
    background-color: #565d37;
    color: #ffffff;
}

.tabCM a:link, .tabCM a:active, .tabCM a:visited, .tabCM a:hover,
.tabCMover a:link, .tabCMover a:active, .tabCMover a:visited, .tabCMover a:hover {
    color: #ffffff;
    text-decoration: none;
}

.tabCMon {
    background-color: #565d37;
    color: #ffff21;
}

.tabCMover {
    background-color: #2e321d;
    color: #ffffff;
}

.tabRM {
    background-image: url('../images/tabRM.png');
    background-repeat: repeat-y;
}

.tabRMover {
    background-image: url('../images/tabRMover.png');
    background-repeat: repeat-y;
}

.tabCBon {
    background-image: url('../images/tabCBon.png');
    background-repeat: repeat-x;
}

.tabCBoff {
    background-image: url('../images/tabCBoff.png');
    background-repeat: repeat-x;
}

.tabCBover {
    background-image: url('../images/tabCBover.png');
    background-repeat: repeat-x;
}

.tabBarBottom {
    background-color: #d6d6d6;
    height: 5px;
}

.subtabBar {
    background-color: #d6d6d6;
    color: #433e29;
    padding: 2px 10px 2px 10px;
}

.subtabOn, .subtabOff {
    margin: 2px 10px 2px 10px;
}

.subtabOn {
    font-size: 1.17em;
    font-weight: bold;
}

.subtabOff a:link, .subtabOff a:active, .subtabOff a:visited  {
    color: #433e29;
    text-decoration: none;
}

.subtabOff a:hover {
    color: #be9422;
    text-decoration: none;
}

.content {
    background-color: #f4f7ed;
    padding: 8px 10px 8px 10px;
}

.panel {
    border: 1px black solid;
    margin: 8px 0 8px 0;
}

.panelTitle {
    background-color: #e8edb4;
    color: #433e29;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
}

.panelToolbar {
    border-bottom: 1px solid #b2b2b2;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #b2b2b2;
    border-top: 1px solid #f0f0f0;
    background-color: #d6d6d6;
    padding: 1px 6px 1px 6px;
    vertical-align: middle;
}

.panelContent {
    background-color: #ffffff;
    padding: 8px;
}

/* A spaced table is for layout with spacing, thus no borders. */
table.spaced th, table.spaced td {
    padding: 1px 5px 1px 5px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}

/* Text box, list box and iframe needs more space around them because they have borders. */
table.spaced td input[type='text'], table.spaced td input[type='password'], table.spaced td select, table.spaced td iframe {
    margin-bottom: 1px;
    margin-top: 1px;
}

/* Putting a tight table within a spaced table effectively disinherit spacing in the subtable. */
table.explorer th, table.explorer td {
    padding: 0;
}

table.explorer th {
    background-color: #808080;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #808080;
    color: #ffffff;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}

table.explorer td {
    border: 1px solid #000000;
    vertical-align: top;
}

div.tippy {
    font-weight: bold;
}

img.tippy {
    cursor: pointer;
    padding-right: 6px;
}

img.refresh {
    margin: 0 6px 0 6px;
    vertical-align: middle;
}

/* A ghost dialog icon is an icon for bringing up a dialog.
   It is normally invisible until mouse is over its containing table cell. */
img.ghostDialogIcon {
    top: 0;
    left: -5px; /* Since padding-left of .dataTable td is 7px, so this will appear 2px from td left edge */
    padding: 0 !important;
    position: absolute;
    z-index: 1;
}

img.debugLogReader {
    margin-right: 8px;
}

.dataIFrame {
    background-color: #eeeeee;
}

.dataTree td {
    background-color: #eeeeee;
    padding: 2px 7px 2px 7px;
    white-space: nowrap;
}

/* A dataTable is an HTML TABLE used for displaying data, as oppposed to layout purpose. */
table.dataTable {
    border-bottom: 1px #cccccc solid;
}

table.dataTable thead tr {
    background-color: #dbd3b0;
}

table.dataTable tbody tr {
    background-color: #eeeeee;
}

table.dataTable tbody tr:hover {
    background-color: #f5f9d4;
}

table.dataTable tbody tr.selected {
    background-color: #ffddee;
}

table.dataTable th {
    border: 1px #bfb173 solid;
}

table.dataTable td {
    border: 1px #cccccc solid;
}

table.dataTable th, table.dataTable td {
    padding: 2px 7px 2px 7px;
    white-space: nowrap;
}

table.dataTable td.dashboard {
    text-align: center;
}

table.dataTable td.details {
    white-space: normal;
}

table.dataTable th.parentId, table.dataTable td.parentId, table.dataTree th.parentId, table.dataTree td.parentId {
    display: none;
}

table.dataTable td img {
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: middle;
}

table.dataTable th div.collapsedHeader {
    overflow-x: hidden;
}

/* These are for color-coded grouping. */
table.dataTable th.group0 {
    background-color: #e8eaff;
    text-align: left;
}

table.dataTable th.group1 {
    background-color: #f4ffe8;
    text-align: left;
}

/* These are for stepped headers. */
table.dataTable th.topStep {
    border-bottom: none;
    text-align: left;
}

table.dataTable th.middleStep {
    background-position: top center;
    border-bottom: none;
    border-top: none;
}

table.dataTable th.bottomStep {
    background-position: bottom center;
    border-top: none;
}

table.dataTable th.group0middleStep, table.dataTable th.group0bottomStep {
    background-image: url(../images/steppedHeaderArrow0.png);
    background-repeat: no-repeat;
}

table.dataTable th.group1middleStep, table.dataTable th.group1bottomStep {
    background-image: url(../images/steppedHeaderArrow1.png);
    background-repeat: no-repeat;
}

/* A table cell with no applicable data. */
table.dataTable td.notApplicable {
    background-color: #7a7a7a;
}

/* A table cell for a monitoring property that is not turned off . */
table.dataTable td.notMonitored {
    background-color: #a8a8a8;
}

table.dataTable td.alert {
    background-color: #ffff00;
    color: #ff0000;
}

.dashboardsPanelContent {
    background-color: #ffffff;
    padding: 4px;
    white-space: nowrap;
}

.dashboardPanel {
    border: 1px black solid;
    margin: 4px;
}

.dashboardPanelContent {
    background-color: #f8f8f8;
}

.sideBySide {
    padding: 4px 0 4px 0;
}

.sideBySide iframe {
    background-color: #eeeeee;
    border: 1px #606060 solid;
}

.roundedTitleLeft, .roundedTitleRight {
    background-color: #000000;
    vertical-align: top;
}

.roundedTitleLeft img {
    background-image: url( '../images/topLeftRoundedCorner.png' );
    background-position: top;
}

.roundedTitleRight img {
    background-image: url( '../images/topRightRoundedCorner.png' );
    background-position: top;
}

.roundedTitleCenter {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 4px 10px 4px 10px !important;
    text-align: center;
}

.roundedTitle2Left, .roundedTitle2Right {
    background-color: #523b7a;
    vertical-align: top;
}

.roundedTitle2Left img {
    background-image: url( '../images/topLeftRoundedCorner2.png' );
    background-position: top;
}

.roundedTitle2Right img {
    background-image: url( '../images/topRightRoundedCorner2.png' );
    background-position: top;
}

.roundedTitle2Center {
    background-color: #523b7a;
    color: #ffffff;
    font-weight: bold;
    padding: 2px 6px 2px 6px;
    text-align: center;
    white-space: nowrap;
}

.unselectedTab {
    opacity: 0.6;
    *filter: alpha(opacity=60);
}

.srcDest, .srcDestTop, .srcDestBottom {
    background-color: #d1d8c5;
}

.srcDestTop {
    padding: 4px 10px 2px 8px;
}

.srcDest {
    padding: 2px 10px 2px 8px;
}

.srcDestBottom {
    padding: 2px 10px 8px 8px;
}

.srcDestCenter {
    background-color: #f4f7ed;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    vertical-align: middle;
}

.submissionMessageEntry div {
    padding: 2px 0 2px 0;
}

.submissionMessageEntry input[type='text'] {
    border: 1px #606060 solid;
    width: 98%;
}

.submissionMessageEntry textarea {
    height: 280px;
    width: 96%;
}

td.submissionMessageDisplay {
    vertical-align: top;
}

td.submissionMessageDisplay textarea {
    height: 150px;
    width: 96%;
}

.userSelector {
    background-color: #eeeeee;
    padding: 2px 8px 2px 8px;
}

/* for single-selection <SELECT> */
.userRoleSelector {
    background-color: #ffffff;
    margin: 4px 0 4px 0;
    width: 100%;
}

/* for multi-selection <IFRAME> <BODY> */
.userRolesSelector {
    background-color: #ffffff;
    padding: 0 4px 0 4px;
}

.statusBar {
    background-color: #d6d6d6;
    padding: 4px 10px 4px 10px;
}

.javascriptWarning {
    background-color: #ffffff;
    color: #ff0000;
    font-size: 1.5em;
    padding: 1em;
    text-align: center;
}

/********************************************************************************
 * ID Selectors
 ********************************************************************************/
#debugLogReader {
    font-size: 1em;
    margin: 8px;
    width: 70%;
}

#licenseAgreement {
    border: 1px #000000 solid;
    width: 100%;
    height: 400px;
}

#dashboardsTable td {
    vertical-align: top;
}
