<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <!-- PROTOTYPE ONLY BEGIN -->
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PROTOTYPE ONLY END -->
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Partition Items List [SecureSpan Enterprise Manager]</title>
    <link rel="stylesheet" href="../../css/site.css" media="all" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../yui/menu/assets/skins/sam/menu.css">
    <link rel="stylesheet" type="text/css" href="../../css/yui-skin.css">
    <script type="text/javascript" src="../../js/site.js"></script>
    <script type="text/javascript" src="../../yui/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="../../yui/container/container_core-min.js"></script>
    <script type="text/javascript" src="../../yui/menu/menu-min.js"></script>
    <script type="text/javascript" src="../../js/enterpriseTable.js"></script>
    <script type="text/javascript" src="../../js/treeTable.js"></script>
    <script type="text/javascript">
        /**
         * Name of the IFRAME in the parent document that is used for showing item details.
         * When an item in here is highlighted, that IFRAME will be populated accordingly.
         */
        var detailsIFrameName = null;

        var highlightedRow = null;
        var highlightedRowPreviousBackgroundColor = new Array();

        /**
         * Parent document should call this onload.
         *
         * @param name
         */
        function setDetailsIFrameName(name) {
            detailsIFrameName = name;
            showDetails(null, null);
        }

        /**
         * Show details of the item clicked.
         *
         * @param img   the zoom img object being clicked on;
         *              null will just cause currently highlighted row and detailsIFrame to be cleared
         * @param type  "publishedService" or "policyFragment"; can be null if img is null
         */
        function showDetails(img, type) {
            var cells, i;

            if (highlightedRow != null) {
                // Unhighlights old row and restores preivous background colors.
                cells = highlightedRow.cells;
                for (i in cells) {
                    if (cells[i].style) {
                        cells[i].style.backgroundColor = highlightedRowPreviousBackgroundColor[i];
                    }
                }
            }

            var itemId = null;
            if (img != null) {
                var cell = img.parentNode;
                var row = cell.parentNode;
                itemId = row.id;

                // Highlights new row and saves original background colors.
                cells = row.cells;
                for (i in cells) {
                    if (cells[i].style) {
                        highlightedRowPreviousBackgroundColor[i] = cells[i].style.backgroundColor;
                        cells[i].style.backgroundColor = '#dbdbdb';
                    }
                }
                highlightedRow = row;
            }

            if (detailsIFrameName != null) {
                var url = '';
                if (itemId != null) {
                    url = getParent(parent.document.URL) + type + '/' + partitionId + '/' + itemId;
                    // PROTOTYPE ONLY BEGIN
                    url += '.xml';
                    // PROTOTYPE ONLY END
                }

                parent.document.getElementById(detailsIFrameName).src = url;
            }
        }

        function init() {
            l7_treeTable_init();
            l7_enterpriseTable_init('../../images');
        }
    </script>
</head>
<body class="dataIFrame yui-skin-sam" onload="init();">
<table id="partitionItemsList" class="dataTable l7_treeTable l7_enterpriseTable" width="100%">
    <thead>
        <tr>
            <th class="name">Name<br /><img src="../../images/spacer.png" alt="" height="0" width="140" /><!-- minimum width --></th>
            <th class="edit"><img src="../../images/spacer.png" alt="" height="0" width="16" /><!-- minimum width --></th>
            <th title="Version">Ver.</th>
            <th width="100%">Type</th>
            <th class="parentId"><!-- hidden column --></th>
        </tr>
    </thead>
    <tbody>
        <script type="text/javascript">
            var partitionId = 'a14df4d4-0c62-4d8e-ac3a-82cd8a442a26';
        </script>
        <tr id="0" class="enterpriseFolder">
            <td class="name"><img class="l7_treeTable_toggler" src="../../images/minus.png" alt="" /><input id="radio:0" type="radio" name="folder" value="0" /><label for="radio:0"><img src="../../images/group.png" alt="" />/</label></td>
            <td class="edit"></td>
            <td class="right"></td>
            <td class="type">group</td>
            <td class="parentId">-1</td>
        </tr>
        <tr id="36f9a61c-4339-4f3c-bb54-4ce3ad36a3c4" class="enterpriseFolder">
            <td class="name"><img src="../../images/spacer16.png" alt="" /><img class="l7_treeTable_toggler" src="../../images/minus.png" alt="" /><input id="radio:36f9a61c-4339-4f3c-bb54-4ce3ad36a3c4" type="radio" name="folder" value="36f9a61c-4339-4f3c-bb54-4ce3ad36a3c4" /><label for="radio:36f9a61c-4339-4f3c-bb54-4ce3ad36a3c4"><img src="../../images/group.png" alt="" />Standby for Electricity</label></td>
            <td class="edit"></td>
            <td class="right"></td>
            <td class="type">group</td>
            <td class="parentId">0</td>
        </tr>
        <tr id="02f6bdfa-b98a-41d4-823d-03f8c1592699" class="enterprisePublishedService">
            <td class="name"><img src="../../images/spacer16.png" alt="" /><img src="../../images/spacer16.png" alt="" /><img src="../../images/dot.png" alt="" /><img src="../../images/noRadio.png" alt="" /><img src="../../images/publishedService.png" alt="" />accounting [/acc]</td>
            <td class="edit"><img class="clickable" src="../../images/zoom.png" title="Show details" alt="" onclick="showDetails(this, 'publishedService');" /></td>
            <td class="right">2</td>
            <td class="type">published service</td>
            <td class="parentId">36f9a61c-4339-4f3c-bb54-4ce3ad36a3c4</td>
        </tr>
        <tr id="d2b36463-acf1-40c2-a121-942319fabb77" class="enterprisePublishedService">
            <td class="name"><img src="../../images/spacer16.png" alt="" /><img src="../../images/spacer16.png" alt="" /><img src="../../images/dot.png" alt="" /><img src="../../images/noRadio.png" alt="" /><img src="../../images/publishedService.png" alt="" />sales</td>
            <td class="edit"><img class="clickable" src="../../images/zoom.png" title="Show details" alt="" onclick="showDetails(this, 'publishedService');" /></td>
            <td class="right">7</td>
            <td class="type">published service</td>
            <td class="parentId">36f9a61c-4339-4f3c-bb54-4ce3ad36a3c4</td>
        </tr>
        <tr id="68e36d9f-d80c-429a-aca4-f8d34fe0d2f0" class="enterprisePolicyFragment">
            <td class="name"><img src="../../images/spacer16.png" alt="" /><img src="../../images/spacer16.png" alt="" /><img src="../../images/dot.png" alt="" /><img src="../../images/noRadio.png" alt="" /><img src="../../images/policyFragment.png" alt="" />Policy Fragment 1</td>
            <td class="edit"><img class="clickable" src="../../images/zoom.png" title="Show details" alt="" onclick="showDetails(this, 'policyFragment');" /></td>
            <td class="right">3</td>
            <td class="type">policy fragment</td>
            <td class="parentId">36f9a61c-4339-4f3c-bb54-4ce3ad36a3c4</td>
        </tr>
        <tr id="aad2d451-aaa5-43f0-8c6a-4171c10d03eb" class="enterprisePolicyFragment">
            <td class="name"><img src="../../images/spacer16.png" alt="" /><img src="../../images/spacer16.png" alt="" /><img src="../../images/dot.png" alt="" /><img src="../../images/noRadio.png" alt="" /><img src="../../images/policyFragment.png" alt="" />Policy Fragment 2</td>
            <td class="edit"><img class="clickable" src="../../images/zoom.png" title="Show details" alt="" onclick="showDetails(this, 'policyFragment');" /></td>
            <td class="right">14</td>
            <td class="type">policy fragment</td>
            <td class="parentId">36f9a61c-4339-4f3c-bb54-4ce3ad36a3c4</td>
        </tr>
        <tr id="4e079592-70c3-499e-ad2e-abba3b6c987c" class="enterprisePublishedService">
            <td class="name"><img src="../../images/spacer16.png" alt="" /><img src="../../images/dot.png" alt="" /><img src="../../images/noRadio.png" alt="" /><img src="../../images/publishedService.png" alt="" />bidding</td>
            <td class="edit"><img class="clickable" src="../../images/zoom.png" title="Show details" alt="" onclick="showDetails(this, 'publishedService');" /></td>
            <td class="right">8</td>
            <td class="type">published service</td>
            <td class="parentId">0</td>
        </tr>
        <tr id="11a06c26-cc77-4a39-a16b-79687d575c50" class="enterprisePublishedService">
            <td class="name"><img src="../../images/spacer16.png" alt="" /><img src="../../images/dot.png" alt="" /><img src="../../images/noRadio.png" alt="" /><img src="../../images/publishedService.png" alt="" />stockpile</td>
            <td class="edit"><img class="clickable" src="../../images/zoom.png" title="Show details" alt="" onclick="showDetails(this, 'publishedService');" /></td>
            <td class="right">21</td>
            <td class="type">published service</td>
            <td class="parentId">0</td>
        </tr>
        <tr id="aa1ccd2e-8c5e-44ef-95c8-95be8f58a0b9" class="enterprisePolicyFragment">
            <td class="name"><img src="../../images/spacer16.png" alt="" /><img src="../../images/dot.png" alt="" /><img src="../../images/noRadio.png" alt="" /><img src="../../images/policyFragment.png" alt="" />Policy Fragment 1</td>
            <td class="edit"><img class="clickable" src="../../images/zoom.png" title="Show details" alt="" onclick="showDetails(this, 'policyFragment');" /></td>
            <td class="right">5</td>
            <td class="type">policy fragment</td>
            <td class="parentId">0</td>
        </tr>
        <tr id="3e17c348-9d2c-466e-ac8d-d47adee5cc3b" class="enterprisePolicyFragment">
            <td class="name"><img src="../../images/spacer16.png" alt="" /><img src="../../images/dot.png" alt="" /><img src="../../images/noRadio.png" alt="" /><img src="../../images/policyFragment.png" alt="" />Policy Fragment 2</td>
            <td class="edit"><img class="clickable" src="../../images/zoom.png" title="Show details" alt="" onclick="showDetails(this, 'policyFragment');" /></td>
            <td class="right">2</td>
            <td class="type">policy fragment</td>
            <td class="parentId">0</td>
        </tr>
    </tbody>
</table>
</body>
</html>