<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<!-- The ssb (aka UneasyRooster) web application DD -->
<web-app>
    <display-name>Layer7 Secure Span Bridge</display-name>

    <servlet>
        <servlet-name>BridgeServlet</servlet-name>
        <servlet-class>com.l7tech.proxy.BridgeServlet</servlet-class>
        <init-param><param-name>gatewayHostname</param-name><param-value>data.l7tech.com</param-value></init-param>
        <init-param><param-name>username</param-name><param-value>mike</param-value></init-param>
        <init-param><param-name>password</param-name><param-value>asdfasdf</param-value></init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>BridgeServlet</servlet-name>
        <url-pattern>/ssb</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.jws</welcome-file>
    </welcome-file-list>

</web-app>
