  body {
      font-family: sans-serif;
      height: 95%;
  }

  .title {
      min-height: 34px;
      color: #6a737b;
      text-indent: 40px;
      font-weight: bold;
      font-size: 24px;
      background-image: url('CA_Logo_RGB_32x32.png');
      background-position: 1px 1px;
      background-repeat: no-repeat;
      background-color: white;
  }

  .heading {
      text-indent: 42px;
      font-weight: bold;
      font-size: 16px;
  }

  .tableheading {
      background-color: #6a737b;
      font-weight: bold;
  }

  .message {
      color: red;
      text-align: center;
  }

  .tableheading {
      font-weight: bold;
  }

  .tableheading {
      font-weight: bold;
  }

  .logintable {
      border: 1px solid black;
      width: 480px;
  }

  .spacer {
      width:35px;
  }

  .label {
      width:85px;
      color: blue;
  }

  .logincontrols {
      width:300px;
      text-align: right;
  }